.node-red/.flows_CDLaptop.json.backup
[{"id":"1c12fb7c.cf3be5","type":"tab","label":"Home","disabled":false,"info":""},{"id":"9c6c63b4.e0ca3","type":"tab","label":"Temperaturen","disabled":false,"info":""},{"id":"e7cc933d.d1e21","type":"tab","label":"BG inkom hall","disabled":false,"info":""},{"id":"e7409754.315c58","type":"tab","label":"BG onder trap","disabled":false,"info":""},{"id":"8c402442.a9ede8","type":"tab","label":"Productie","disabled":false,"info":""},{"id":"3421fad.4d87d06","type":"tab","label":"VergaderkamerVerd","disabled":false,"info":""},{"id":"897d95db.5c31d8","type":"tab","label":"VerdBij TrapLinks","disabled":false,"info":""},{"id":"a020e7bb.90af98","type":"tab","label":"VerdBij TrapRechts","disabled":false,"info":""},{"id":"2626cb63.dc1624","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"heimdall","tz":""},{"id":"c5e90791.8dfe58","type":"ui_group","z":"1c12fb7c.cf3be5","name":"Pid tuning","tab":"abdaf997.1b0688","order":3,"disp":true,"width":"6","collapse":true},{"id":"8f2369d.adab498","type":"ui_group","z":"1c12fb7c.cf3be5","name":"IO status","tab":"abdaf997.1b0688","order":5,"disp":true,"width":6,"collapse":false},{"id":"779f1603.863428","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Heimdall Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf56d50f.f7d808","type":"mqtt-broker","z":"","name":"192.168.1.4","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38b9ab1d.e66764","type":"ui_group","z":"","name":"Linear Gauges","tab":"","disp":true,"width":"12","collapse":false},{"id":"abdaf997.1b0688","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9e46a438.9842e8","type":"ui_group","z":"","name":"commando's","tab":"abdaf997.1b0688","order":1,"disp":true,"width":13,"collapse":false},{"id":"f6b4b868.4a32a8","type":"ui_group","z":"","name":"Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"c92f17f0.31d978","type":"ui_group","z":"","name":"Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"357b154d.b804da","type":"ui_group","z":"","name":"Settings","tab":"abdaf997.1b0688","order":2,"disp":true,"width":"6","collapse":false},{"id":"8054cfbe.ca6c6","type":"ui_group","z":"","name":"Ruimte settings","tab":"62501bce.572c74","order":1,"disp":true,"width":"6","collapse":false},{"id":"62501bce.572c74","type":"ui_tab","z":"","name":"Gemiddelde temp","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"19e5327.2dba2ce","type":"ui_group","z":"","name":"Begane grond 1","tab":"62501bce.572c74","order":2,"disp":true,"width":"5","collapse":false},{"id":"fbabf7a.f8a9608","type":"ui_group","z":"","name":"Verdieping","tab":"62501bce.572c74","order":5,"disp":true,"width":"5","collapse":false},{"id":"78538e86.c95d9","type":"ui_group","z":"","name":"Begane grond 2","tab":"62501bce.572c74","order":3,"disp":true,"width":"5","collapse":false},{"id":"53b83408.5fc3dc","type":"ui_group","z":"","name":"Verdieping 2","tab":"62501bce.572c74","order":6,"disp":true,"width":"5","collapse":false},{"id":"74c4951f.1fd3bc","type":"ui_spacer","name":"spacer","group":"9e46a438.9842e8","order":3,"width":13,"height":1},{"id":"ee064c96.c4131","type":"ui_spacer","name":"spacer","group":"357b154d.b804da","order":4,"width":6,"height":1},{"id":"231c1204.a7b4de","type":"ui_group","z":"","name":"Technische waarden","tab":"abdaf997.1b0688","order":4,"disp":true,"width":"13","collapse":false},{"id":"e2a8907a.8d417","type":"ui_group","z":"","name":"Begane grond 3","tab":"62501bce.572c74","order":4,"disp":true,"width":"5","collapse":false},{"id":"6da9817f.5e74e","type":"ui_link","z":"","name":"Kast 1","link":"http://192.168.5.142/config/","icon":"open_in_browser","target":"newtab","order":9},{"id":"178b8a5f.defa26","type":"ui_link","z":"","name":"Kast 2","link":"http://192.168.5.144/config/","icon":"open_in_browser","target":"newtab","order":10},{"id":"1af5e71.0f80219","type":"ui_link","z":"","name":"Kast 3","link":"http://192.168.5.145/config/","icon":"open_in_browser","target":"newtab","order":11},{"id":"385fd087.63c58","type":"ui_tab","z":"","name":"BG inkom hall","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"c2e6372b.763418","type":"ui_group","z":"","name":"Zonemotoren","tab":"385fd087.63c58","order":3,"disp":true,"width":"9","collapse":false},{"id":"d7b3d3c6.e5402","type":"ui_group","z":"","name":"Temperaturen","tab":"385fd087.63c58","order":2,"disp":true,"width":"9","collapse":false},{"id":"a7ad2e72.81b51","type":"ui_group","z":"","name":"Pomp","tab":"385fd087.63c58","order":1,"disp":true,"width":"9","collapse":false},{"id":"2f75b882.799ae8","type":"ui_group","z":"","name":"Temperaturen","tab":"abdaf997.1b0688","order":6,"disp":true,"width":"6","collapse":false},{"id":"904a9658.eaf268","type":"ui_tab","z":"","name":"BG onder trap","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d7984c66.ddb4","type":"ui_group","z":"","name":"Temperaturen","tab":"904a9658.eaf268","order":2,"disp":true,"width":"9","collapse":false},{"id":"30ea653f.461e7a","type":"ui_group","z":"","name":"Pomp","tab":"904a9658.eaf268","order":1,"disp":true,"width":"9","collapse":false},{"id":"a196703c.bb9b4","type":"ui_group","z":"","name":"Zonemotoren","tab":"904a9658.eaf268","order":3,"disp":true,"width":"9","collapse":false},{"id":"41e398ab.f879e8","type":"ui_tab","z":"","name":"Productie","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dfe77461.ea36e8","type":"ui_group","z":"","name":"Zonemotoren","tab":"41e398ab.f879e8","order":3,"disp":true,"width":"9","collapse":false},{"id":"16df5bb7.8bc334","type":"ui_group","z":"","name":"Pomp","tab":"41e398ab.f879e8","order":1,"disp":true,"width":"9","collapse":false},{"id":"c626285c.4e72e8","type":"ui_group","z":"","name":"Temperaturen","tab":"41e398ab.f879e8","order":2,"disp":true,"width":"9","collapse":false},{"id":"507b4488.68420c","type":"ui_tab","z":"","name":"VergaderkamerVerd","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"aae9d34b.b3ebe","type":"ui_group","z":"","name":"Temperaturen","tab":"507b4488.68420c","order":2,"disp":true,"width":"9","collapse":false},{"id":"c56d1bee.5df178","type":"ui_group","z":"","name":"Zonemotoren","tab":"507b4488.68420c","order":3,"disp":true,"width":"9","collapse":false},{"id":"3fb71ee3.3e14c2","type":"ui_group","z":"","name":"Pomp","tab":"507b4488.68420c","order":1,"disp":true,"width":"9","collapse":false},{"id":"2ca8e4ad.2cb23c","type":"ui_tab","z":"","name":"VerdBij TrapLinks","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"a06b403f.c9814","type":"ui_group","z":"","name":"Pomp","tab":"2ca8e4ad.2cb23c","order":1,"disp":true,"width":"9","collapse":false},{"id":"f1342035.338a8","type":"ui_group","z":"","name":"Zonemotoren","tab":"2ca8e4ad.2cb23c","order":3,"disp":true,"width":"9","collapse":false},{"id":"9d68880f.2d2298","type":"ui_group","z":"","name":"Temperaturen","tab":"2ca8e4ad.2cb23c","order":2,"disp":true,"width":"9","collapse":false},{"id":"d999000.0ad49","type":"ui_tab","z":"","name":"VerdBij TrapRechts","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"290abba0.5d7834","type":"ui_group","z":"","name":"Temperaturen","tab":"d999000.0ad49","order":2,"disp":true,"width":"9","collapse":false},{"id":"57947a00.46c278","type":"ui_group","z":"","name":"Zonemotoren","tab":"d999000.0ad49","order":3,"disp":true,"width":"9","collapse":false},{"id":"7026bc21.47d1b4","type":"ui_group","z":"","name":"Pomp","tab":"d999000.0ad49","order":1,"disp":true,"width":"9","collapse":false},{"id":"6f8ff2e.5c3940c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":480,"wires":[["d9bceda.d4d191"]]},{"id":"4f99246b.4853fc","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":480,"wires":[["740b5519.c16ecc","4c9bc23.bc7b13c"]]},{"id":"622e2bf2.db7994","type":"comment","z":"1c12fb7c.cf3be5","name":"Show current status and last error","info":"","x":150,"y":440,"wires":[]},{"id":"f38bafbc.85e21","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":200,"wires":[["3eb4cd0b.724ba2"]]},{"id":"b1f97441.077848","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'Exit'","output":"str","x":380,"y":200,"wires":[["f38bafbc.85e21"]]},{"id":"4968e016.eacd1","type":"comment","z":"1c12fb7c.cf3be5","name":"Update commands in DB","info":"","x":130,"y":140,"wires":[]},{"id":"740b5519.c16ecc","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 2\n","output":"str","x":320,"y":480,"wires":[["6f8ff2e.5c3940c"]]},{"id":"3eb4cd0b.724ba2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":200,"wires":[]},{"id":"8d1c346c.dde9e8","type":"ui_button","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","group":"9e46a438.9842e8","order":4,"width":0,"height":0,"passthru":false,"label":"Exit Heimdall","tooltip":"Push button to stop Heimdall.","color":"","bgcolor":"red","icon":"fa-stop-circle-o ","payload":"Exit","payloadType":"str","topic":"Command","x":90,"y":200,"wires":[["b1f97441.077848"]]},{"id":"bd077563.f681f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":569,"y":300,"wires":[["4fbb7162.bb801"]]},{"id":"43b9e68e.b9e1c8","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'ToonActWaarde'","output":"str","x":379,"y":300,"wires":[["bd077563.f681f8"]]},{"id":"4fbb7162.bb801","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":300,"wires":[]},{"id":"431ed09e.f563f","type":"ui_button","z":"1c12fb7c.cf3be5","d":true,"name":"","group":"9e46a438.9842e8","order":5,"width":0,"height":0,"passthru":false,"label":"output naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":110,"y":300,"wires":[["43b9e68e.b9e1c8"]]},{"id":"f7c98991.4c9d08","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":360,"wires":[["3adf0e60.3cc5d2"]]},{"id":"e2ad5f31.e8d33","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 0 \nWHERE Command = 'ToonActWaarde'","output":"str","x":380,"y":360,"wires":[["f7c98991.4c9d08"]]},{"id":"3adf0e60.3cc5d2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"adcd18eb.d07e48","type":"ui_button","z":"1c12fb7c.cf3be5","d":true,"name":"","group":"9e46a438.9842e8","order":6,"width":0,"height":0,"passthru":false,"label":"output niet naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":130,"y":360,"wires":[["e2ad5f31.e8d33"]]},{"id":"718664e.992c69c","type":"ui_text","z":"1c12fb7c.cf3be5","group":"9e46a438.9842e8","order":1,"width":0,"height":0,"name":"Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":480,"wires":[]},{"id":"d9bceda.d4d191","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["718664e.992c69c"]]},{"id":"dccf15eb.ec11f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":560,"wires":[["820d96c6.de82d8"]]},{"id":"4c9bc23.bc7b13c","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 3","output":"str","x":320,"y":560,"wires":[["dccf15eb.ec11f8"]]},{"id":"e5f4127b.ffbb5","type":"ui_text","z":"1c12fb7c.cf3be5","group":"9e46a438.9842e8","order":2,"width":0,"height":0,"name":"Last Error","label":"Laatste foutmelding:","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":560,"wires":[]},{"id":"820d96c6.de82d8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["e5f4127b.ffbb5"]]},{"id":"f85ba616.877088","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls1","topic":"hrAlivePuls1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":92,"y":640,"wires":[["ee5f853f.f042e8"]],"outputLabels":["payload"]},{"id":"bf0330f1.64b5a","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls3","topic":"hrAlivePuls3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":718,"wires":[["541cef6d.b9442"]]},{"id":"ec120740.60c558","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls2","topic":"hrAlivePuls2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":681,"wires":[["d52edcb4.e9ac3"]]},{"id":"f1b7f9b4.5bd648","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":3,"width":0,"height":0,"label":"hrAlivePuls1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls1","x":1320,"y":640,"wires":[]},{"id":"3961e46d.f982ec","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":1,"width":0,"height":0,"label":"hrAlivePuls3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls3","x":1325,"y":718,"wires":[]},{"id":"5c1ee641.5e2ad8","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":2,"width":0,"height":0,"label":"hrAlivePuls2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls2","x":1321,"y":681,"wires":[]},{"id":"ee5f853f.f042e8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":640,"wires":[["f1b7f9b4.5bd648"]]},{"id":"d52edcb4.e9ac3","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":681,"wires":[["5c1ee641.5e2ad8"]]},{"id":"541cef6d.b9442","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":718,"wires":[["3961e46d.f982ec"]]},{"id":"fe3e2a11.e674b8","type":"comment","z":"1c12fb7c.cf3be5","name":"PID tuning","info":"","x":160,"y":1900,"wires":[]},{"id":"67a7f909.206bd8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1219,"y":1913,"wires":[["c8bc651f.46a408"]]},{"id":"209c0fbd.2944b","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 21","output":"str","x":1045,"y":1913,"wires":[["67a7f909.206bd8"]]},{"id":"c8bc651f.46a408","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1405,"y":1913,"wires":[]},{"id":"28a90b1a.d59b74","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kp","tooltip":"","group":"c5e90791.8dfe58","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.1","x":855,"y":1913,"wires":[["209c0fbd.2944b"]]},{"id":"e07fa79d.82c048","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1225,"y":1953,"wires":[["60a95ec5.57487"]]},{"id":"e28d00f3.f40cb","type":"template","z":"1c12fb7c.cf3be5","name":"Update Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 22","output":"str","x":1041,"y":1953,"wires":[["e07fa79d.82c048"]]},{"id":"60a95ec5.57487","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1405,"y":1953,"wires":[]},{"id":"439e4f84.31032","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Ki","tooltip":"","group":"c5e90791.8dfe58","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":861,"y":1953,"wires":[["e28d00f3.f40cb"]]},{"id":"5e05aa3e.1aa994","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1225,"y":1993,"wires":[["448064ea.071d0c"]]},{"id":"6e201866.95fd18","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 23","output":"str","x":1051,"y":1993,"wires":[["5e05aa3e.1aa994"]]},{"id":"448064ea.071d0c","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1405,"y":1993,"wires":[]},{"id":"5b2856e3.b555f8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kd","tooltip":"","group":"c5e90791.8dfe58","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":861,"y":1993,"wires":[["6e201866.95fd18"]]},{"id":"7d9405de.efd78c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":491,"y":1913,"wires":[["9791cdce.30844"]]},{"id":"cbbc2dd6.7d6f9","type":"template","z":"1c12fb7c.cf3be5","name":"Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 21\n","output":"str","x":359,"y":1913,"wires":[["7d9405de.efd78c"]]},{"id":"341d5d05.363ef2","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":491,"y":1953,"wires":[["b0b16c5e.489c9"]]},{"id":"bae5dc8a.cec12","type":"template","z":"1c12fb7c.cf3be5","name":"Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 22\n\n","output":"str","x":359,"y":1953,"wires":[["341d5d05.363ef2"]]},{"id":"78a9b7ed.2a38a8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":491,"y":1993,"wires":[["7938b8bc.b6dc68"]]},{"id":"9dc4998.16ab468","type":"template","z":"1c12fb7c.cf3be5","name":"Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 23\n","output":"str","x":359,"y":1993,"wires":[["78a9b7ed.2a38a8"]]},{"id":"9791cdce.30844","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":1913,"wires":[["28a90b1a.d59b74"]]},{"id":"b0b16c5e.489c9","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":1953,"wires":[["439e4f84.31032"]]},{"id":"7938b8bc.b6dc68","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":1993,"wires":[["5b2856e3.b555f8"]]},{"id":"a1c8da4d.f28168","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":212,"y":1953,"wires":[["cbbc2dd6.7d6f9","bae5dc8a.cec12","9dc4998.16ab468"]]},{"id":"63af5c5.90dc6a4","type":"comment","z":"1c12fb7c.cf3be5","name":"Settings Thijs","info":"","x":150,"y":2097,"wires":[]},{"id":"7cc5eeca.b2e3e","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1268,"y":2090,"wires":[[]]},{"id":"ccb85f6c.c239a","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 20","output":"str","x":1117,"y":2090,"wires":[["7cc5eeca.b2e3e"]]},{"id":"c0c6f00c.258a2","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Ketel hoog","tooltip":"","group":"357b154d.b804da","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"40","max":"90","step":"1","x":935,"y":2090,"wires":[["ccb85f6c.c239a"]]},{"id":"a49cf0dc.0a657","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1274,"y":2130,"wires":[[]]},{"id":"50283069.93dd4","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 19","output":"str","x":1123,"y":2130,"wires":[["a49cf0dc.0a657"]]},{"id":"62177fb1.578e7","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Ketel laag","tooltip":"","group":"357b154d.b804da","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"25","max":"50","step":"1","x":931,"y":2130,"wires":[["50283069.93dd4"]]},{"id":"44641798.dd7448","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1274,"y":2170,"wires":[[]]},{"id":"bec9c731.b6ae98","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 18","output":"str","x":1123,"y":2170,"wires":[["44641798.dd7448"]]},{"id":"40517535.bd0aec","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Temp H2O VV","tooltip":"","group":"357b154d.b804da","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"25","max":"47","step":"1","x":951,"y":2170,"wires":[["bec9c731.b6ae98"]]},{"id":"45071ac4.1b11e4","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":621,"y":2090,"wires":[["75cbbb7a.bbae04"]]},{"id":"e97effd8.67a62","type":"template","z":"1c12fb7c.cf3be5","name":"Ketel hoog","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 20\n","output":"str","x":408,"y":2090,"wires":[["45071ac4.1b11e4"]]},{"id":"6351f59e.ed3b0c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":621,"y":2130,"wires":[["f370be19.160aa"]]},{"id":"521337b1.26deb8","type":"template","z":"1c12fb7c.cf3be5","name":"Ketel laag","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 19\n\n","output":"str","x":398,"y":2130,"wires":[["6351f59e.ed3b0c"]]},{"id":"42eca4e8.1a104c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":621,"y":2170,"wires":[["87f89002.ffb37"]]},{"id":"8a3fc735.f67848","type":"template","z":"1c12fb7c.cf3be5","name":"Temp H2O VVW","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 18\n","output":"str","x":418,"y":2170,"wires":[["42eca4e8.1a104c"]]},{"id":"75cbbb7a.bbae04","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":2090,"wires":[["c0c6f00c.258a2"]]},{"id":"f370be19.160aa","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":2130,"wires":[["62177fb1.578e7"]]},{"id":"87f89002.ffb37","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":2170,"wires":[["40517535.bd0aec"]]},{"id":"5c413252.360b1c","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":170,"y":2220,"wires":[["e97effd8.67a62","521337b1.26deb8","8a3fc735.f67848","b0069b26.25f558","6673f459.5781fc","cf445363.53d71","8265bd2c.36904"]]},{"id":"5fda8e21.2aada","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1269,"y":2220,"wires":[[]]},{"id":"5ec132b0.c451cc","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 7","output":"str","x":1118,"y":2220,"wires":[["5fda8e21.2aada"]]},{"id":"b978d571.0d5a18","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"max dT Conv W","tooltip":"","group":"357b154d.b804da","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.5","x":946,"y":2220,"wires":[["5ec132b0.c451cc"]]},{"id":"9b94a2f8.bed8f","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":616,"y":2220,"wires":[["d5cba4e.8fd0258"]]},{"id":"b0069b26.25f558","type":"template","z":"1c12fb7c.cf3be5","name":"max dT Conv W","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 7\n","output":"str","x":413,"y":2220,"wires":[["9b94a2f8.bed8f"]]},{"id":"d5cba4e.8fd0258","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2220,"wires":[["b978d571.0d5a18"]]},{"id":"3beb950b.9a2a2a","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1269,"y":2260,"wires":[[]]},{"id":"c5f84eaa.f095c","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 9","output":"str","x":1122,"y":2260,"wires":[["3beb950b.9a2a2a"]]},{"id":"b45e4694.e765c8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"blaas dT Conv W","tooltip":"","group":"357b154d.b804da","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"17","step":"0.5","x":956,"y":2260,"wires":[["c5f84eaa.f095c"]]},{"id":"fe736d1f.ac484","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":616,"y":2260,"wires":[["3c579b49.724484"]]},{"id":"6673f459.5781fc","type":"template","z":"1c12fb7c.cf3be5","name":"blaas dT Conv W","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 9\n","output":"str","x":423,"y":2260,"wires":[["fe736d1f.ac484"]]},{"id":"3c579b49.724484","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2260,"wires":[["b45e4694.e765c8"]]},{"id":"5e4f6eec.41872","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1269,"y":2300,"wires":[[]]},{"id":"edb23d21.0971b","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 5","output":"str","x":1122,"y":2300,"wires":[["5e4f6eec.41872"]]},{"id":"ee5734bb.662628","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"dT nacht","tooltip":"","group":"357b154d.b804da","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.1","x":926,"y":2300,"wires":[["edb23d21.0971b"]]},{"id":"9082d527.3f3808","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":616,"y":2300,"wires":[["6c6ad667.ec9508"]]},{"id":"cf445363.53d71","type":"template","z":"1c12fb7c.cf3be5","name":"dT nacht","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 5\n","output":"str","x":393,"y":2300,"wires":[["9082d527.3f3808"]]},{"id":"6c6ad667.ec9508","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2300,"wires":[["ee5734bb.662628"]]},{"id":"22f4aaa7.f40fd6","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1280,"y":2345,"wires":[[]]},{"id":"18abb313.6ad51d","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 2","output":"str","x":1120,"y":2345,"wires":[["22f4aaa7.f40fd6"]]},{"id":"d51617de.bd1068","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"dT ruimte","tooltip":"","group":"357b154d.b804da","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.5","x":924,"y":2345,"wires":[["18abb313.6ad51d"]]},{"id":"c2afda1e.618098","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":614,"y":2345,"wires":[["b1cb4fe2.5045d"]]},{"id":"8265bd2c.36904","type":"template","z":"1c12fb7c.cf3be5","name":"dT ruimte","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 2\n","output":"str","x":391,"y":2345,"wires":[["c2afda1e.618098"]]},{"id":"b1cb4fe2.5045d","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":2345,"wires":[["d51617de.bd1068"]]},{"id":"1526f30c.feaacd","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"drkWarmH2O","topic":"drkWarmH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":795,"wires":[["f63b3d56.8c2ba"]],"outputLabels":["payload"]},{"id":"f63b3d56.8c2ba","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"drkWarmH2O","label":"Bar","format":"{{value}}","min":0,"max":"4","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"1.3","seg2":"2.3","x":1330,"y":796,"wires":[]},{"id":"22d64122.adab7e","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","topic":"drkKoudH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":758,"wires":[["ee52ffc0.4ae1c"]],"outputLabels":["payload"]},{"id":"ee52ffc0.4ae1c","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","group":"231c1204.a7b4de","order":2,"width":"3","height":"3","gtype":"gage","title":"drkKoudH2O","label":"Bar","format":"{{value}}","min":0,"max":"4","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"1.3","seg2":"2.3","x":1330,"y":759,"wires":[]},{"id":"cdeec112.380f8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tmpWarmH2O","topic":"tmpWarmH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":835,"wires":[["607ed460.5f5bfc"]],"outputLabels":["payload"]},{"id":"607ed460.5f5bfc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tmpWarmH2O","group":"231c1204.a7b4de","order":3,"width":"3","height":"3","gtype":"gage","title":"tmpWarmH2O","label":"°C","format":"{{value}}","min":"15","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"30","seg2":"80","x":1340,"y":836,"wires":[]},{"id":"d05e53e.50d8cb","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tKoelH2O","topic":"tKoelH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":880,"wires":[["3d3d4661.63e22a"]],"outputLabels":["payload"]},{"id":"3d3d4661.63e22a","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tKoelH2O","group":"231c1204.a7b4de","order":4,"width":"3","height":"3","gtype":"gage","title":"tKoelH2O","label":"°C","format":"{{value}}","min":"0","max":"30","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"16","seg2":"19","x":1320,"y":881,"wires":[]},{"id":"1f10f8d1.9345f7","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tAanvKW","topic":"tAanvKW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":920,"wires":[["67dab958.ad3448"]],"outputLabels":["payload"]},{"id":"67dab958.ad3448","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAanvKW","group":"231c1204.a7b4de","order":5,"width":"3","height":"3","gtype":"gage","title":"tAanvKW","label":"°C","format":"{{value}}","min":"0","max":"30","colors":["#00ff00","#ff8040","#ff0000"],"seg1":"15","seg2":"20","x":1320,"y":921,"wires":[]},{"id":"879963db.deea3","type":"comment","z":"1c12fb7c.cf3be5","name":"Tech info","info":"","x":60,"y":600,"wires":[]},{"id":"cd08a305.d28d9","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tAfvKW","topic":"tAfvKW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":70,"y":960,"wires":[["b43c00c3.684df"]],"outputLabels":["payload"]},{"id":"b43c00c3.684df","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAfvKW","group":"231c1204.a7b4de","order":6,"width":"3","height":"3","gtype":"gage","title":"tAfvKW","label":"°C","format":"{{value}}","min":"0","max":"30","colors":["#00ff00","#ff8040","#ff0000"],"seg1":"15","seg2":"20","x":1320,"y":961,"wires":[]},{"id":"199014ca.e7436b","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"rvAanvKW","topic":"rvAanvKW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1000,"wires":[["7b2055aa.2e3dfc"]],"outputLabels":["payload"]},{"id":"7b2055aa.2e3dfc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAfvKW","group":"231c1204.a7b4de","order":7,"width":"3","height":"3","gtype":"gage","title":"rvAanvKW","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1320,"y":1001,"wires":[]},{"id":"7a58d2c7.89485c","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"flowWWkoud","topic":"flowWWkoud","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1040,"wires":[["d135389a.239dd8"]]},{"id":"d135389a.239dd8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1040,"wires":[["cbfa96c1.625798"]]},{"id":"cbfa96c1.625798","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":9,"width":"0","height":"0","label":"flowWWkoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowWWkoud","x":1317,"y":1040,"wires":[]},{"id":"4db29002.bf257","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"flowWarmH2O","topic":"flowWarmH2O","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":100,"y":1080,"wires":[["b583b718.e96958"]]},{"id":"b583b718.e96958","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1080,"wires":[["b0f1fc91.d05d7"]]},{"id":"b0f1fc91.d05d7","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"flowWarmH2O","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowWarmH2O","x":1327,"y":1080,"wires":[]},{"id":"7963cb2e.de27a4","type":"mqtt in","z":"e7cc933d.d1e21","name":"ruimte 0.14-1","topic":"ruimte 0.14-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":79,"wires":[["e8877ed5.3b153"]],"outputLabels":["payload"]},{"id":"e8877ed5.3b153","type":"ui_gauge","z":"e7cc933d.d1e21","name":" ruimte 0.14-1","group":"d7b3d3c6.e5402","order":1,"width":"3","height":"3","gtype":"gage","title":" ruimte 0.14-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":79,"wires":[]},{"id":"31fc3b37.eef8f4","type":"mqtt in","z":"e7cc933d.d1e21","name":"ruimte 0.14-2","topic":"ruimte 0.14-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":118,"wires":[["cbb6180a.76f948"]],"outputLabels":["payload"]},{"id":"cbb6180a.76f948","type":"ui_gauge","z":"e7cc933d.d1e21","name":" ruimte 0.14-2","group":"d7b3d3c6.e5402","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.14-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":118,"wires":[]},{"id":"a5326ae0.e93be8","type":"mqtt in","z":"e7cc933d.d1e21","name":"tmpAanvoerR0.7","topic":"tmpAanvoerR0.7","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":247,"wires":[["c23d589.8cdafa8"]],"outputLabels":["payload"]},{"id":"c23d589.8cdafa8","type":"ui_gauge","z":"e7cc933d.d1e21","name":"tmpAanvoerR0.7","group":"c2e6372b.763418","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR0.7","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1230,"y":247,"wires":[]},{"id":"4b92a63b.e7b658","type":"mqtt in","z":"e7cc933d.d1e21","name":"flowVV0.7 S3","topic":"flowVV0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":373,"wires":[["bcabf569.8d4098"]]},{"id":"bcabf569.8d4098","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":373,"wires":[["24eb8545.59c1ca"]]},{"id":"8f90bcf1.c3976","type":"mqtt in","z":"e7cc933d.d1e21","name":"thermUit0.7 S14","topic":"thermUit0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":533,"wires":[["9442c75.f5b4738"]]},{"id":"9442c75.f5b4738","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":533,"wires":[["3fd35e25.b9f032"]]},{"id":"24eb8545.59c1ca","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":1,"width":"3","height":"3","label":"flowVV0.7 S3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowVV0.7 S3","x":1220,"y":373,"wires":[]},{"id":"3fd35e25.b9f032","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":1,"width":"3","height":"3","label":"thermUit0.7 S14","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit0.7 S14","x":1220,"y":533,"wires":[]},{"id":"9e78ef59.0693f","type":"mqtt in","z":"e7cc933d.d1e21","name":"vtAanvKoudVerdVV0.7","topic":"vtAanvKoudVerdVV0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":453,"wires":[["6cb62ae5.bef1e4"]]},{"id":"6cb62ae5.bef1e4","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":453,"wires":[["c9980192.3b512"]]},{"id":"3d275ba0.96a754","type":"mqtt in","z":"e7cc933d.d1e21","name":"vtAanvWarmVerdVV0.7","topic":"vtAanvWarmVerdVV0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":493,"wires":[["3dbd2ed9.1b3192"]]},{"id":"3dbd2ed9.1b3192","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":493,"wires":[["f314cc0e.701df"]]},{"id":"c9980192.3b512","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV0.7","x":1240,"y":453,"wires":[]},{"id":"f314cc0e.701df","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV0.7","x":1250,"y":493,"wires":[]},{"id":"5129d366.31eb1c","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV0.7","x":1240,"y":613,"wires":[]},{"id":"141eeea5.2f8b41","type":"mqtt in","z":"e7cc933d.d1e21","name":"vtRetWarmVerdVV0.7","topic":"vtRetWarmVerdVV0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":613,"wires":[["5813ca3a.f196f4"]]},{"id":"5813ca3a.f196f4","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":613,"wires":[["5129d366.31eb1c"]]},{"id":"448a1811.c9ab18","type":"mqtt in","z":"e7cc933d.d1e21","name":"vtRetKoudVerdVV0.7","topic":"vtRetKoudVerdVV0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":573,"wires":[["2cbb63c6.86686c"]]},{"id":"8ae88d2d.57ba2","type":"mqtt in","z":"e7cc933d.d1e21","name":"hrPompR0.7","topic":"hrPompR0.7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":413,"wires":[["531563eb.3aa6dc"]]},{"id":"2cbb63c6.86686c","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":573,"wires":[["ceaaa762.3a8668"]]},{"id":"531563eb.3aa6dc","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":413,"wires":[["1368c11e.9b2e2f"]]},{"id":"ceaaa762.3a8668","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV0.7","x":1240,"y":573,"wires":[]},{"id":"1368c11e.9b2e2f","type":"ui_led","z":"e7cc933d.d1e21","group":"a7ad2e72.81b51","order":1,"width":"3","height":"3","label":"hrPompR0.7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR0.7","x":1210,"y":413,"wires":[]},{"id":"48eee8db.39b2e8","type":"mqtt in","z":"e7cc933d.d1e21","name":"rvMengVV0.7","topic":"rvMengVV0.7","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":287,"wires":[["eb98fd90.732d5"]],"outputLabels":["payload"]},{"id":"eb98fd90.732d5","type":"ui_gauge","z":"e7cc933d.d1e21","name":"rvMengVV0.7","group":"c2e6372b.763418","order":2,"width":"4","height":"4","gtype":"gage","title":"MengVV0.7","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1220,"y":287,"wires":[]},{"id":"d0b80128.e2712","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-1","x":1200,"y":840,"wires":[]},{"id":"1a8a1482.0ffebb","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-1","topic":" vtVV0.7-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":840,"wires":[["67f58f5c.280a4"]]},{"id":"67f58f5c.280a4","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":840,"wires":[["d0b80128.e2712"]]},{"id":"808bad19.8a9f5","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-2","x":1200,"y":880,"wires":[]},{"id":"e2e9a907.01dcb8","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-2","topic":" vtVV0.7-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":880,"wires":[["e98c7317.f2ff9"]]},{"id":"e98c7317.f2ff9","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":880,"wires":[["808bad19.8a9f5"]]},{"id":"c991e0f5.e92","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-3","x":1200,"y":920,"wires":[]},{"id":"5ea7a19c.868d","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-3","topic":" vtVV0.7-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":920,"wires":[["f380c4c9.7a1b88"]]},{"id":"f380c4c9.7a1b88","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":920,"wires":[["c991e0f5.e92"]]},{"id":"9e588067.610eb","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-4","x":1200,"y":960,"wires":[]},{"id":"65806d7.fa91594","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-4","topic":" vtVV0.7-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":960,"wires":[["38f5e142.b161fe"]]},{"id":"38f5e142.b161fe","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":960,"wires":[["9e588067.610eb"]]},{"id":"5a209419.c475fc","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"KastTemp01","topic":"KastTemp01","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1120,"wires":[["f7fcba1b.5a62c8"]]},{"id":"eefadb6a.fce888","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"KastTempK2","topic":"KastTempK2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1158,"wires":[["e480d055.e20b9"]]},{"id":"f7fcba1b.5a62c8","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"Kast1 ruimte 0.7","group":"231c1204.a7b4de","order":9,"width":"3","height":"3","gtype":"gage","title":"Kast 1 ruimte 0.7","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#80ff80","#00ff00","#ff0000"],"seg1":"25","seg2":"40","x":1340,"y":1120,"wires":[]},{"id":"e480d055.e20b9","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"Kast 2 ruimte 0.18","group":"231c1204.a7b4de","order":10,"width":"3","height":"3","gtype":"gage","title":"Kast 2 ruimte 0.18","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#80ff80","#00ff00","#ff0000"],"seg1":"25","seg2":"40","x":1350,"y":1160,"wires":[]},{"id":"b7523d35.29f76","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"kastTemp3","topic":"kastTemp3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1200,"wires":[["52142749.3beae8"]]},{"id":"52142749.3beae8","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"Kast 3 ruimte 1.9","group":"231c1204.a7b4de","order":11,"width":"3","height":"3","gtype":"gage","title":"Kast 3 ruimte 1.9","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#80ff80","#00ff00","#ff0000"],"seg1":"25","seg2":"40","x":1350,"y":1202,"wires":[]},{"id":"ae2d26f0.129ff8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"kastTemp4","topic":"kastTemp4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1240,"wires":[["248434bb.a4fcdc"]]},{"id":"d7cdee1f.27dff","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ruimte 1.9","topic":"ruimte 1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1282,"wires":[["3812b197.7e127e"]]},{"id":"248434bb.a4fcdc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"Kast 4 ruimte 1.9","group":"231c1204.a7b4de","order":12,"width":"3","height":"3","gtype":"gage","title":"Kast 4 ruimte 1.9","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#80ff80","#00ff00","#ff0000"],"seg1":"25","seg2":"40","x":1350,"y":1242,"wires":[]},{"id":"3812b197.7e127e","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 1.9","group":"231c1204.a7b4de","order":8,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.9","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#80ff80","#00ff00","#ff0000"],"seg1":"25","seg2":"40","x":1320,"y":1284,"wires":[]},{"id":"eeb20c6b.ee0c3","type":"mqtt in","z":"e7cc933d.d1e21","name":"ruimte 0.2-1","topic":"ruimte 0.2-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":159,"wires":[["a621a1c5.09dd1"]],"outputLabels":["payload"]},{"id":"a621a1c5.09dd1","type":"ui_gauge","z":"e7cc933d.d1e21","name":"ruimte 0.2-1","group":"d7b3d3c6.e5402","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.2-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":159,"wires":[]},{"id":"6aa8ae45.0ba66","type":"mqtt in","z":"e7cc933d.d1e21","name":"ruimte 0.2-2","topic":"ruimte 0.2-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":198,"wires":[["76cfd375.16a57c"]],"outputLabels":["payload"]},{"id":"76cfd375.16a57c","type":"ui_gauge","z":"e7cc933d.d1e21","name":"ruimte 0.2-2","group":"d7b3d3c6.e5402","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.2-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":198,"wires":[]},{"id":"c969e1df.77d5","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-5","x":1200,"y":1005,"wires":[]},{"id":"259c1ea3.f4a9e2","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-5","topic":" vtVV0.7-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1005,"wires":[["46e97554.f30f3c"]]},{"id":"46e97554.f30f3c","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1005,"wires":[["c969e1df.77d5"]]},{"id":"31aefca6.859ef4","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-6","x":1200,"y":1045,"wires":[]},{"id":"4a720e8.bc7e4f","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-6","topic":" vtVV0.7-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1045,"wires":[["8f0ca774.7bb6b8"]]},{"id":"8f0ca774.7bb6b8","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1045,"wires":[["31aefca6.859ef4"]]},{"id":"2674cce2.ae1f34","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":80,"wires":[[]]},{"id":"3d05859c.adf7fa","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 1","output":"str","x":1102,"y":80,"wires":[["2674cce2.ae1f34"]]},{"id":"ff4fb3c8.7e9e5","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.17 en 0.14","tooltip":"","group":"8054cfbe.ca6c6","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":887,"y":80,"wires":[["3d05859c.adf7fa"]]},{"id":"97fcfaab.d55ec8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":80,"wires":[["7e57b203.351c5c"]]},{"id":"1b4376f.dda3689","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.17 en 0.14","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 1\n","output":"str","x":354,"y":80,"wires":[["97fcfaab.d55ec8"]]},{"id":"7e57b203.351c5c","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["ff4fb3c8.7e9e5"]]},{"id":"b4187d98.4375a","type":"comment","z":"9c6c63b4.e0ca3","name":"Groepen","info":"","x":100,"y":66,"wires":[]},{"id":"20e77fd6.30c31","type":"inject","z":"9c6c63b4.e0ca3","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":110,"y":320,"wires":[["1b4376f.dda3689","47ae0eac.2c5de","ada912a1.12d3a","1f4bd9aa.8d0c86","e7c6a36a.02aa6","b9b0f94f.88de58","afc0525b.255c6","b7df1752.5fc898","2bf92d67.a31212","bf955fd1.9dc92","aef925a5.b3c788","487eec8a.5c79f4","c9f8f3c2.da8b5"]]},{"id":"fbc138de.812098","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":120,"wires":[[]]},{"id":"c6f81af.86e68e8","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 2","output":"str","x":1102,"y":120,"wires":[["fbc138de.812098"]]},{"id":"dc23c057.3de22","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.2 en 0.1","tooltip":"","group":"8054cfbe.ca6c6","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":887,"y":120,"wires":[["c6f81af.86e68e8"]]},{"id":"ce37c23d.299fe","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":120,"wires":[["54e351a.aa2c6b"]]},{"id":"47ae0eac.2c5de","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.2 en 0.1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 2\n","output":"str","x":354,"y":120,"wires":[["ce37c23d.299fe"]]},{"id":"54e351a.aa2c6b","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":120,"wires":[["dc23c057.3de22"]]},{"id":"5702d42c.6e9afc","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":160,"wires":[[]]},{"id":"f47c614c.6cd63","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 3","output":"str","x":1102,"y":160,"wires":[["5702d42c.6e9afc"]]},{"id":"ae9f361c.1506b8","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.5, 0.9, Conv 3+4","tooltip":"","group":"8054cfbe.ca6c6","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":160,"wires":[["f47c614c.6cd63"]]},{"id":"53566414.16e5cc","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":160,"wires":[["ecb3b224.acc3d"]]},{"id":"ada912a1.12d3a","type":"template","z":"9c6c63b4.e0ca3","name":"0.8, 0.5, 0.9, Conv3+4","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 3\n","output":"str","x":364,"y":160,"wires":[["53566414.16e5cc"]]},{"id":"ecb3b224.acc3d","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":160,"wires":[["ae9f361c.1506b8"]]},{"id":"f10dff60.3df0a","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":200,"wires":[[]]},{"id":"8a11d12f.d5134","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 4","output":"str","x":1102,"y":200,"wires":[["f10dff60.3df0a"]]},{"id":"ad4bce4.868943","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.4 en conv 1+2","tooltip":"","group":"8054cfbe.ca6c6","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":897,"y":200,"wires":[["8a11d12f.d5134"]]},{"id":"c1492c83.56b92","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":200,"wires":[["5bc6c70c.2cf378"]]},{"id":"1f4bd9aa.8d0c86","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.4 A en conv 1+2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 4\n","output":"str","x":374,"y":200,"wires":[["c1492c83.56b92"]]},{"id":"5bc6c70c.2cf378","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":200,"wires":[["ad4bce4.868943"]]},{"id":"8c622992.51c898","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":240,"wires":[[]]},{"id":"b8b1d2de.71fd9","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 5","output":"str","x":1102,"y":240,"wires":[["8c622992.51c898"]]},{"id":"f3725b8f.5002a8","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.11, 0.12 en 0.6","tooltip":"","group":"8054cfbe.ca6c6","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":240,"wires":[["b8b1d2de.71fd9"]]},{"id":"a041e9d7.6448c8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":240,"wires":[["abb9d1d8.d1b76"]]},{"id":"e7c6a36a.02aa6","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.11 en 0.12 en 0.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 5\n","output":"str","x":374,"y":240,"wires":[["a041e9d7.6448c8"]]},{"id":"abb9d1d8.d1b76","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":240,"wires":[["f3725b8f.5002a8"]]},{"id":"97a687b8.1bff98","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":280,"wires":[[]]},{"id":"1214625d.043fce","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 7","output":"str","x":1102,"y":280,"wires":[["97a687b8.1bff98"]]},{"id":"705e9fec.68131","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.15","tooltip":"","group":"8054cfbe.ca6c6","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":280,"wires":[["1214625d.043fce"]]},{"id":"6e4f2e18.9d75f","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":280,"wires":[["43a42729.739328"]]},{"id":"b9b0f94f.88de58","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.15","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 7\n","output":"str","x":334,"y":280,"wires":[["6e4f2e18.9d75f"]]},{"id":"43a42729.739328","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":280,"wires":[["705e9fec.68131"]]},{"id":"9f5064ca.ea3ef8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":320,"wires":[[]]},{"id":"bce912c0.7d95e","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 8","output":"str","x":1102,"y":320,"wires":[["9f5064ca.ea3ef8"]]},{"id":"b06f8327.fd5a3","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 1.3","tooltip":"","group":"8054cfbe.ca6c6","order":7,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":857,"y":320,"wires":[["bce912c0.7d95e"]]},{"id":"32c51e7d.544ec2","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":320,"wires":[["cd626ca1.0179e"]]},{"id":"afc0525b.255c6","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.3","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 8\n","output":"str","x":324,"y":320,"wires":[["32c51e7d.544ec2"]]},{"id":"cd626ca1.0179e","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":320,"wires":[["b06f8327.fd5a3"]]},{"id":"57f8c46b.5d9f1c","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":360,"wires":[[]]},{"id":"a5327c7f.ac015","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 9","output":"str","x":1102,"y":360,"wires":[["57f8c46b.5d9f1c"]]},{"id":"af628abb.a13538","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 1.1 en 1.4 en 1.6","tooltip":"","group":"8054cfbe.ca6c6","order":8,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":360,"wires":[["a5327c7f.ac015"]]},{"id":"b1b64178.1baf2","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":360,"wires":[["c98cd9a0.018c68"]]},{"id":"b7df1752.5fc898","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.1 en 1.4 en 1.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 9\n","output":"str","x":374,"y":360,"wires":[["b1b64178.1baf2"]]},{"id":"c98cd9a0.018c68","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":360,"wires":[["af628abb.a13538"]]},{"id":"79840010.365fb","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":400,"wires":[[]]},{"id":"80251e60.db1ab","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 10","output":"str","x":1102,"y":400,"wires":[["79840010.365fb"]]},{"id":"a06348b3.e3f108","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 1.2","tooltip":"","group":"8054cfbe.ca6c6","order":9,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":857,"y":400,"wires":[["80251e60.db1ab"]]},{"id":"38fdac32.3ed824","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":400,"wires":[["ecd435ff.b4a608"]]},{"id":"2bf92d67.a31212","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 10\n","output":"str","x":324,"y":400,"wires":[["38fdac32.3ed824"]]},{"id":"ecd435ff.b4a608","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":400,"wires":[["a06348b3.e3f108"]]},{"id":"dc82c837.82e338","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":440,"wires":[[]]},{"id":"dd7087da.6f5388","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 11","output":"str","x":1102,"y":440,"wires":[["dc82c837.82e338"]]},{"id":"64c4610.75c60a","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"ruimte 0.8","tooltip":"","group":"8054cfbe.ca6c6","order":10,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":857,"y":440,"wires":[["dd7087da.6f5388"]]},{"id":"51779d15.44eb14","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":440,"wires":[["be6166a1.494508"]]},{"id":"bf955fd1.9dc92","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.4 B","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 11\n","output":"str","x":334,"y":440,"wires":[["51779d15.44eb14"]]},{"id":"be6166a1.494508","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":440,"wires":[["64c4610.75c60a"]]},{"id":"3e75c07f.c57df","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":480,"wires":[[]]},{"id":"e70f82ce.4fb8a","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 16","output":"str","x":1102,"y":480,"wires":[["3e75c07f.c57df"]]},{"id":"b4d10edb.a170c","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"Ruimte 1.10","tooltip":"","group":"8054cfbe.ca6c6","order":11,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":480,"wires":[["e70f82ce.4fb8a"]]},{"id":"c8997536.c70848","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":480,"wires":[["abc1959b.982a88"]]},{"id":"aef925a5.b3c788","type":"template","z":"9c6c63b4.e0ca3","name":"Ruimte 1.10","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 12\n","output":"str","x":334,"y":480,"wires":[["c8997536.c70848"]]},{"id":"abc1959b.982a88","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":480,"wires":[["b4d10edb.a170c"]]},{"id":"5e827b7f.18cc24","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":560,"wires":[[]]},{"id":"b587ac87.95fb8","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 17","output":"str","x":1103,"y":560,"wires":[["5e827b7f.18cc24"]]},{"id":"bcfb24b0.4012c8","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"server 1.7","tooltip":"","group":"8054cfbe.ca6c6","order":12,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"22","step":"1","x":860,"y":560,"wires":[["b587ac87.95fb8"]]},{"id":"9451813a.c5c98","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":560,"wires":[["792c4a49.910054"]]},{"id":"c9f8f3c2.da8b5","type":"template","z":"9c6c63b4.e0ca3","name":"server 1.7","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 15\n","output":"str","x":320,"y":560,"wires":[["9451813a.c5c98"]]},{"id":"792c4a49.910054","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":560,"wires":[["bcfb24b0.4012c8"]]},{"id":"21138324.6db22c","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":1243,"y":520,"wires":[[]]},{"id":"37573edf.9a6002","type":"template","z":"9c6c63b4.e0ca3","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 13","output":"str","x":1102,"y":520,"wires":[["21138324.6db22c"]]},{"id":"77079cc3.0f4c84","type":"ui_numeric","z":"9c6c63b4.e0ca3","name":"","label":"Ruimte 1.11","tooltip":"","group":"8054cfbe.ca6c6","order":13,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":520,"wires":[["37573edf.9a6002"]]},{"id":"7bab0a78.7b65a4","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":520,"wires":[["bb47d711.690848"]]},{"id":"487eec8a.5c79f4","type":"template","z":"9c6c63b4.e0ca3","name":"Ruimte 1.11","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 13\n","output":"str","x":334,"y":520,"wires":[["7bab0a78.7b65a4"]]},{"id":"bb47d711.690848","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":520,"wires":[["77079cc3.0f4c84"]]},{"id":"5361ef13.9e0c3","type":"comment","z":"e7cc933d.d1e21","name":"Temperaturen","info":"","x":130,"y":40,"wires":[]},{"id":"5dbdd2ac.7448cc","type":"comment","z":"e7cc933d.d1e21","name":"Pomp","info":"","x":110,"y":340,"wires":[]},{"id":"c812517d.6b82f","type":"comment","z":"e7cc933d.d1e21","name":"Zonemotoren","info":"","x":130,"y":807,"wires":[]},{"id":"edcd2ea9.03105","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.8-1","topic":"ruimte 0.8-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":80,"wires":[["2ae722d0.36762e"]],"outputLabels":["payload"]},{"id":"2ae722d0.36762e","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.8-1","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.8-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1190,"y":80,"wires":[]},{"id":"23ed35ca.6ac72a","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.8-2","topic":"ruimte 0.8-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":119,"wires":[["bd40a368.d8212"]],"outputLabels":["payload"]},{"id":"bd40a368.d8212","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.8-2","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.8-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1190,"y":119,"wires":[]},{"id":"3999914f.2ef78e","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.4-1","topic":"ruimte 0.4-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":248,"wires":[["cfb2b11.37bb75"]],"outputLabels":["payload"]},{"id":"cfb2b11.37bb75","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.4-1","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.4-1","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1190,"y":248,"wires":[]},{"id":"9b40ad5c.a8dab","type":"mqtt in","z":"e7409754.315c58","name":"flowR0.2","topic":"flowR0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":591,"wires":[["d1fe336.3b3d1d"]]},{"id":"d1fe336.3b3d1d","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":591,"wires":[["ae4b03bb.5834a"]]},{"id":"27f0cb64.37ab74","type":"mqtt in","z":"e7409754.315c58","name":"thermUit0.2","topic":"thermUit0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":751,"wires":[["5438cefe.5baed"]]},{"id":"5438cefe.5baed","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":751,"wires":[["7742491a.ecb048"]]},{"id":"ae4b03bb.5834a","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":1,"width":"3","height":"3","label":"flowR0.2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowR0.2","x":1180,"y":591,"wires":[]},{"id":"7742491a.ecb048","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":1,"width":"3","height":"3","label":"thermUit0.2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit0.2","x":1190,"y":751,"wires":[]},{"id":"1d4f2789.6eb438","type":"mqtt in","z":"e7409754.315c58","name":"vtAanvKoudVerdVV0.2","topic":"vtAanvKoudVerdVV0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":671,"wires":[["c6262358.90cb7"]]},{"id":"c6262358.90cb7","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":671,"wires":[["81893e38.80994"]]},{"id":"4513413d.af3d9","type":"mqtt in","z":"e7409754.315c58","name":"vtAanvWarmVerdVV0.2","topic":"vtAanvWarmVerdVV0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":711,"wires":[["d89b20b7.836b9"]]},{"id":"d89b20b7.836b9","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":711,"wires":[["61f7ce72.6a00d"]]},{"id":"81893e38.80994","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV0.2","x":1220,"y":671,"wires":[]},{"id":"61f7ce72.6a00d","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV0.2","x":1230,"y":711,"wires":[]},{"id":"65a10f0c.597db","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV0.2","x":1220,"y":831,"wires":[]},{"id":"c6214385.28e05","type":"mqtt in","z":"e7409754.315c58","name":"vtRetWarmVerdVV0.2","topic":"vtRetWarmVerdVV0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":831,"wires":[["2a972513.03d9aa"]]},{"id":"2a972513.03d9aa","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":831,"wires":[["65a10f0c.597db"]]},{"id":"638cbd1f.11cef4","type":"mqtt in","z":"e7409754.315c58","name":"vtRetKoudVerdVV0.2","topic":"vtRetKoudVerdVV0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":791,"wires":[["335ec8e6.14bce8"]]},{"id":"227658d7.b95238","type":"mqtt in","z":"e7409754.315c58","name":"hrPompR0.2","topic":"hrPompR0.2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":631,"wires":[["602c82e2.a8080c"]]},{"id":"335ec8e6.14bce8","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":791,"wires":[["a9b8cdf5.eba3d"]]},{"id":"602c82e2.a8080c","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":631,"wires":[["1c9dfbaa.f702b4"]]},{"id":"a9b8cdf5.eba3d","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV0.2","x":1220,"y":791,"wires":[]},{"id":"1c9dfbaa.f702b4","type":"ui_led","z":"e7409754.315c58","group":"30ea653f.461e7a","order":1,"width":"3","height":"3","label":"hrPompR0.2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR0.2","x":1190,"y":631,"wires":[]},{"id":"2f7e1f35.8769d","type":"mqtt in","z":"e7409754.315c58","name":"rvMengVV0.2","topic":"rvMengVV0.2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":502,"wires":[["33cec401.26a3fc"]],"outputLabels":["payload"]},{"id":"33cec401.26a3fc","type":"ui_gauge","z":"e7409754.315c58","name":"rvMengVV0.2","group":"a196703c.bb9b4","order":2,"width":"4","height":"4","gtype":"gage","title":"rvMengVV0.2","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1200,"y":502,"wires":[]},{"id":"af029f67.b5916","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":3,"width":"3","height":"3","label":" vtVV0.2-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-1","x":1180,"y":918,"wires":[]},{"id":"d61712da.43fe3","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-1","topic":" vtVV0.2-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":918,"wires":[["cd79bd6d.feeff"]]},{"id":"cd79bd6d.feeff","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":918,"wires":[["af029f67.b5916"]]},{"id":"91932716.697718","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":4,"width":"3","height":"3","label":" vtVV0.2-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-2","x":1180,"y":958,"wires":[]},{"id":"e485ab70.f9b908","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-2","topic":" vtVV0.2-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":958,"wires":[["7da8ac11.fe8cd4"]]},{"id":"7da8ac11.fe8cd4","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":958,"wires":[["91932716.697718"]]},{"id":"6e4ca1ef.55876","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":5,"width":"3","height":"3","label":" vtVV0.2-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-3","x":1180,"y":998,"wires":[]},{"id":"a381a561.27c138","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-3","topic":" vtVV0.2-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":998,"wires":[["8f30d8b.73ec828"]]},{"id":"8f30d8b.73ec828","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":998,"wires":[["6e4ca1ef.55876"]]},{"id":"bbf14621.4b8598","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":6,"width":"3","height":"3","label":" vtVV0.2-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-4","x":1180,"y":1038,"wires":[]},{"id":"1fe1af5a.a79901","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-4","topic":" vtVV0.2-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1038,"wires":[["10581569.81041b"]]},{"id":"10581569.81041b","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1038,"wires":[["bbf14621.4b8598"]]},{"id":"3f7b9662.44db7a","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.9-1","topic":"ruimte 0.9-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":160,"wires":[["2978860d.8cacaa"]],"outputLabels":["payload"]},{"id":"2978860d.8cacaa","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.9-1","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.9-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1190,"y":160,"wires":[]},{"id":"54e4ac84.d088a4","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":7,"width":"3","height":"3","label":" vtVV0.2-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-6","x":1180,"y":1080,"wires":[]},{"id":"8356e4a2.a8dfe8","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-5","topic":" vtVV0.2-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1080,"wires":[["6b61a57a.3bab9c"]]},{"id":"6b61a57a.3bab9c","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1080,"wires":[["54e4ac84.d088a4"]]},{"id":"eee26a0d.bbdd38","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":8,"width":"3","height":"3","label":" vtVV0.2-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-2","x":1180,"y":1120,"wires":[]},{"id":"9499ba22.9fd598","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-6","topic":" vtVV0.2-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1120,"wires":[["97a97fdc.0d7c5"]]},{"id":"97a97fdc.0d7c5","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1120,"wires":[["eee26a0d.bbdd38"]]},{"id":"fff69ff9.8cc0d","type":"comment","z":"e7409754.315c58","name":"Temperaturen","info":"","x":110,"y":41,"wires":[]},{"id":"61a2c214.98897c","type":"comment","z":"e7409754.315c58","name":"Pomp","info":"","x":90,"y":558,"wires":[]},{"id":"1fa03104.c8a77f","type":"comment","z":"e7409754.315c58","name":"Zonemotoren","info":"","x":110,"y":885,"wires":[]},{"id":"7978dbed.d437c4","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.4-2","topic":"ruimte 0.4-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":300,"wires":[["9ae9f2b7.70628"]],"outputLabels":["payload"]},{"id":"9ae9f2b7.70628","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.4-2","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.4-2","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1190,"y":300,"wires":[]},{"id":"2eceb59b.910b9a","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.4-3","topic":"ruimte 0.4-3","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":340,"wires":[["4f250df6.b4fc74"]],"outputLabels":["payload"]},{"id":"4f250df6.b4fc74","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.4-3","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.4-3","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1190,"y":340,"wires":[]},{"id":"d36262.f4b37da","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.6-1","topic":"ruimte 0.6-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":380,"wires":[["1861d737.1ef329"]],"outputLabels":["payload"]},{"id":"1861d737.1ef329","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.6-1","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.6-1","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1190,"y":380,"wires":[]},{"id":"642e83e.da5f77c","type":"mqtt in","z":"e7409754.315c58","name":"ruimte 0.6-1","topic":"ruimte 0.6-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":130,"y":420,"wires":[["31fed060.89c1b"]],"outputLabels":["payload"]},{"id":"31fed060.89c1b","type":"ui_gauge","z":"e7409754.315c58","name":"ruimte 0.6-1","group":"d7984c66.ddb4","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.6-1","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1190,"y":420,"wires":[]},{"id":"fbdb70.4111049","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":9,"width":"3","height":"3","label":" vtVV0.2-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-4","x":1180,"y":1160,"wires":[]},{"id":"581b603a.a2c2d","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-4","topic":" vtVV0.2-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1160,"wires":[["6ab81e65.465a8"]]},{"id":"6ab81e65.465a8","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1160,"wires":[["fbdb70.4111049"]]},{"id":"b27dc702.0ac258","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":10,"width":"3","height":"3","label":" vtVV0.2-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-5","x":1180,"y":1202,"wires":[]},{"id":"f59bae5a.c69b3","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-5","topic":" vtVV0.2-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1202,"wires":[["f3b96168.ca9e9"]]},{"id":"f3b96168.ca9e9","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1202,"wires":[["b27dc702.0ac258"]]},{"id":"a82e575c.710828","type":"ui_led","z":"e7409754.315c58","group":"a196703c.bb9b4","order":11,"width":"3","height":"3","label":" vtVV0.2-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.2-6","x":1180,"y":1242,"wires":[]},{"id":"3fd214c9.4a4c1c","type":"mqtt in","z":"e7409754.315c58","name":" vtVV0.2-6","topic":" vtVV0.2-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1242,"wires":[["6aaa87fb.4274a8"]]},{"id":"6aaa87fb.4274a8","type":"function","z":"e7409754.315c58","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1242,"wires":[["a82e575c.710828"]]},{"id":"9f6d5d9b.467a3","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-7","x":1200,"y":1085,"wires":[]},{"id":"325a38e9.2b45d8","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-7","topic":" vtVV0.7-7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1085,"wires":[["848fee53.ed2b7"]]},{"id":"848fee53.ed2b7","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1085,"wires":[["9f6d5d9b.467a3"]]},{"id":"6fe441b2.f3b44","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-8","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-8","x":1200,"y":1125,"wires":[]},{"id":"cd3a504c.d5d9b","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-8","topic":" vtVV0.7-8","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1125,"wires":[["820da442.25bc18"]]},{"id":"820da442.25bc18","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1125,"wires":[["6fe441b2.f3b44"]]},{"id":"6d812446.006ebc","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-9","x":1200,"y":1170,"wires":[]},{"id":"f507b635.217c18","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-9","topic":" vtVV0.7-9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1170,"wires":[["39afdd43.1856b2"]]},{"id":"39afdd43.1856b2","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1170,"wires":[["6d812446.006ebc"]]},{"id":"7b453f70.5f1f4","type":"ui_led","z":"e7cc933d.d1e21","group":"c2e6372b.763418","order":6,"width":"3","height":"3","label":" vtVV0.7-10","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.7-10","x":1210,"y":1210,"wires":[]},{"id":"5760c42b.bcae0c","type":"mqtt in","z":"e7cc933d.d1e21","name":" vtVV0.7-10","topic":" vtVV0.7-10","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1210,"wires":[["24941012.3f669"]]},{"id":"24941012.3f669","type":"function","z":"e7cc933d.d1e21","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1210,"wires":[["7b453f70.5f1f4"]]},{"id":"665a9f71.2d28f","type":"mqtt in","z":"e7409754.315c58","name":"tmpAanvoerR0.2","topic":"tmpAanvoerR0.2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":460,"wires":[["ef86a106.7c0b3"]],"outputLabels":["payload"]},{"id":"ef86a106.7c0b3","type":"ui_gauge","z":"e7409754.315c58","name":"tmpAanvoerR0.2","group":"a196703c.bb9b4","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR0.2","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1210,"y":460,"wires":[]},{"id":"4ad48653.cab068","type":"mqtt in","z":"8c402442.a9ede8","name":"ruimte 0.15-1","topic":"ruimte 0.15-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":100,"wires":[["db52bd62.5c59d"]],"outputLabels":["payload"]},{"id":"db52bd62.5c59d","type":"ui_gauge","z":"8c402442.a9ede8","name":"ruimte 0.15-1","group":"c626285c.4e72e8","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.15-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":100,"wires":[]},{"id":"26e5c16f.a07f8e","type":"mqtt in","z":"8c402442.a9ede8","name":"ruimte 0.15-2","topic":"ruimte 0.15-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":139,"wires":[["2e1129a8.1e45c6"]],"outputLabels":["payload"]},{"id":"2e1129a8.1e45c6","type":"ui_gauge","z":"8c402442.a9ede8","name":" ruimte 0.15-2","group":"c626285c.4e72e8","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 0.15-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":139,"wires":[]},{"id":"285e7e42.2cc772","type":"mqtt in","z":"8c402442.a9ede8","name":"tmpAanvoerR0.15","topic":"tmpAanvoerR0.15","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":268,"wires":[["334d106a.d13c3"]],"outputLabels":["payload"]},{"id":"334d106a.d13c3","type":"ui_gauge","z":"8c402442.a9ede8","name":"tmpAanvoerR0.15","group":"dfe77461.ea36e8","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR0.15","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1230,"y":268,"wires":[]},{"id":"208b7c78.0fb434","type":"mqtt in","z":"8c402442.a9ede8","name":"flowVV0.15","topic":"flowVV0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":394,"wires":[["5764ec89.edae04"]]},{"id":"5764ec89.edae04","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":394,"wires":[["c05527e3.c83098"]]},{"id":"ed456735.6852e8","type":"mqtt in","z":"8c402442.a9ede8","name":"thermUit0.15","topic":"thermUit0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":554,"wires":[["dcd41ace.0ec498"]]},{"id":"dcd41ace.0ec498","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":554,"wires":[["4f490ea8.4132e"]]},{"id":"c05527e3.c83098","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":1,"width":"3","height":"3","label":"flowVV0.15","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowVV0.15","x":1210,"y":394,"wires":[]},{"id":"4f490ea8.4132e","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":1,"width":"3","height":"3","label":"thermUit0.15","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit0.15","x":1210,"y":554,"wires":[]},{"id":"b8c6c66f.fc8a98","type":"mqtt in","z":"8c402442.a9ede8","name":"vtAanvKoudVerdVV0.15","topic":"vtAanvKoudVerdVV0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":474,"wires":[["9fa8b6d0.ae6328"]]},{"id":"9fa8b6d0.ae6328","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":474,"wires":[["1e073e0.92821c2"]]},{"id":"9a03137b.40dd9","type":"mqtt in","z":"8c402442.a9ede8","name":"vtAanvWarmVerdVV0.15","topic":"vtAanvWarmVerdVV0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":514,"wires":[["742926e3.90da48"]]},{"id":"742926e3.90da48","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":514,"wires":[["d59c6740.d474c8"]]},{"id":"1e073e0.92821c2","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV0.15","x":1250,"y":474,"wires":[]},{"id":"d59c6740.d474c8","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV0.15","x":1250,"y":514,"wires":[]},{"id":"8dcbeeb3.e1545","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV0.15","x":1250,"y":634,"wires":[]},{"id":"7d8bfe4c.3b2b6","type":"mqtt in","z":"8c402442.a9ede8","name":"vtRetWarmVerdVV0.15","topic":"vtRetWarmVerdVV0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":634,"wires":[["4cf06d7a.131b04"]]},{"id":"4cf06d7a.131b04","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":634,"wires":[["8dcbeeb3.e1545"]]},{"id":"abce7f35.c01ad","type":"mqtt in","z":"8c402442.a9ede8","name":"vtRetKoudVerdVV0.15","topic":"vtRetKoudVerdVV0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":594,"wires":[["ead25836.bfaaf8"]]},{"id":"5a49617b.93b7a","type":"mqtt in","z":"8c402442.a9ede8","name":"hrPompR0.15","topic":"hrPompR0.15","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":434,"wires":[["d1cb1ac2.cf2cd8"]]},{"id":"ead25836.bfaaf8","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":594,"wires":[["152ea75.9617859"]]},{"id":"d1cb1ac2.cf2cd8","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":434,"wires":[["3fbc35df.0b9e0a"]]},{"id":"152ea75.9617859","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV0.15","x":1240,"y":594,"wires":[]},{"id":"3fbc35df.0b9e0a","type":"ui_led","z":"8c402442.a9ede8","group":"16df5bb7.8bc334","order":1,"width":"3","height":"3","label":"hrPompR0.15","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR0.15","x":1220,"y":434,"wires":[]},{"id":"4e1b2ae2.9db934","type":"mqtt in","z":"8c402442.a9ede8","name":"rvMengVV0.15","topic":"rvMengVV0.15","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":308,"wires":[["5d7a7a5a.5d40c4"]],"outputLabels":["payload"]},{"id":"5d7a7a5a.5d40c4","type":"ui_gauge","z":"8c402442.a9ede8","name":"rvMengVV0.15","group":"dfe77461.ea36e8","order":2,"width":"4","height":"4","gtype":"gage","title":"MengVV0.15","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1220,"y":308,"wires":[]},{"id":"79f662a.f4def9c","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-1","x":1210,"y":721,"wires":[]},{"id":"96fdbf98.9a1f7","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-1","topic":" vtVV0.15-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":721,"wires":[["8b84de36.41194"]]},{"id":"8b84de36.41194","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":721,"wires":[["79f662a.f4def9c"]]},{"id":"d76af994.4fc248","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-2","x":1210,"y":761,"wires":[]},{"id":"893437ac.2b4858","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-2","topic":" vtVV0.15-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":761,"wires":[["9fec8383.c4d8e"]]},{"id":"9fec8383.c4d8e","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":761,"wires":[["d76af994.4fc248"]]},{"id":"8d742b37.cbb478","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-3","x":1210,"y":801,"wires":[]},{"id":"5887e494.e602ac","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-3","topic":" vtVV0.15-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":801,"wires":[["25f45be0.ea08f4"]]},{"id":"25f45be0.ea08f4","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":801,"wires":[["8d742b37.cbb478"]]},{"id":"416f8078.f693f","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-4","x":1210,"y":841,"wires":[]},{"id":"badc57bc.d4a098","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-4","topic":" vtVV0.15-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":841,"wires":[["1ee13f5.b9856c1"]]},{"id":"1ee13f5.b9856c1","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":841,"wires":[["416f8078.f693f"]]},{"id":"5eecab5f.465a94","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-5","x":1210,"y":886,"wires":[]},{"id":"8be23c9e.7e2af","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-5","topic":" vtVV0.15-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":886,"wires":[["95a74681.bdd078"]]},{"id":"95a74681.bdd078","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":886,"wires":[["5eecab5f.465a94"]]},{"id":"558d2698.3b19e8","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-6","x":1210,"y":926,"wires":[]},{"id":"43a14907.d2f0d8","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-6","topic":" vtVV0.15-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":926,"wires":[["49a0f2bf.cf8b5c"]]},{"id":"49a0f2bf.cf8b5c","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":926,"wires":[["558d2698.3b19e8"]]},{"id":"bfcf156b.dd8868","type":"comment","z":"8c402442.a9ede8","name":"Temperaturen","info":"","x":130,"y":61,"wires":[]},{"id":"a581f0a8.3756e","type":"comment","z":"8c402442.a9ede8","name":"Pomp","info":"","x":110,"y":361,"wires":[]},{"id":"ee8be1e9.9b867","type":"comment","z":"8c402442.a9ede8","name":"Zonemotoren","info":"","x":130,"y":688,"wires":[]},{"id":"907191b7.66d8f","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-7","x":1210,"y":966,"wires":[]},{"id":"98b85d4f.d0497","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-7","topic":" vtVV0.15-7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":966,"wires":[["d2579762.eeb3e8"]]},{"id":"d2579762.eeb3e8","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":966,"wires":[["907191b7.66d8f"]]},{"id":"c5b6031e.ee22e","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-8","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-8","x":1210,"y":1006,"wires":[]},{"id":"9992991d.4c7aa8","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-8","topic":" vtVV0.15-8","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1006,"wires":[["7315c05e.efd31"]]},{"id":"7315c05e.efd31","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1006,"wires":[["c5b6031e.ee22e"]]},{"id":"3fe621ab.82353e","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-9","x":1210,"y":1051,"wires":[]},{"id":"2fdbdac7.205ea6","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-9","topic":" vtVV0.15-9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":140,"y":1051,"wires":[["4ac486b6.a82708"]]},{"id":"4ac486b6.a82708","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1051,"wires":[["3fe621ab.82353e"]]},{"id":"e9c06d19.d4477","type":"ui_led","z":"8c402442.a9ede8","group":"dfe77461.ea36e8","order":6,"width":"3","height":"3","label":" vtVV0.15-10","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV0.15-10","x":1210,"y":1091,"wires":[]},{"id":"e92a8494.735278","type":"mqtt in","z":"8c402442.a9ede8","name":" vtVV0.15-10","topic":" vtVV0.15-10","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":1091,"wires":[["48d5f491.3564ac"]]},{"id":"48d5f491.3564ac","type":"function","z":"8c402442.a9ede8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1091,"wires":[["e9c06d19.d4477"]]},{"id":"cfaf6118.7c116","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":640,"wires":[["db414167.abd9b"]]},{"id":"a72d996b.8d83e8","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.17 en 0.14","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 1\n","output":"str","x":347,"y":640,"wires":[["cfaf6118.7c116"]]},{"id":"db414167.abd9b","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":694,"y":640,"wires":[["9219a1bd.b93b5"]]},{"id":"33fdd89f.ee7f48","type":"inject","z":"9c6c63b4.e0ca3","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"1","x":103,"y":880,"wires":[["a72d996b.8d83e8","fcc5c992.9ac258","c541a93f.b504d8","2949a231.797f7e","2f7266e3.a5daba","438acc45.6eca14","e26234f8.110188","6c28e22d.18082c","89b8b41.718f448","3543dbb3.e8da14","a5122a34.9156f8","9cdbe007.71696","812c90f5.bb774"]]},{"id":"673cfde.97d1104","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":680,"wires":[["f95645ef.2eafd8"]]},{"id":"fcc5c992.9ac258","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.2 en 0.1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 2\n","output":"str","x":347,"y":680,"wires":[["673cfde.97d1104"]]},{"id":"a6396eb9.77f1b","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":720,"wires":[["88e3c0da.0507d"]]},{"id":"c541a93f.b504d8","type":"template","z":"9c6c63b4.e0ca3","name":"0.8, 0.5, 0.9, Conv3+4","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 3\n","output":"str","x":357,"y":720,"wires":[["a6396eb9.77f1b"]]},{"id":"f459772e.4ea8c8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":760,"wires":[["44a05b7e.51ee24"]]},{"id":"2949a231.797f7e","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.4 A en conv 1+2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 4\n","output":"str","x":367,"y":760,"wires":[["f459772e.4ea8c8"]]},{"id":"77514d55.0c9c44","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":800,"wires":[["ee5b2a0d.e27d38"]]},{"id":"2f7266e3.a5daba","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.11 en 0.12 en 0.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 5\n","output":"str","x":367,"y":800,"wires":[["77514d55.0c9c44"]]},{"id":"4ea1b02d.b6cd5","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":840,"wires":[["fd1f5af1.bc1148"]]},{"id":"438acc45.6eca14","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.15","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 7\n","output":"str","x":327,"y":840,"wires":[["4ea1b02d.b6cd5"]]},{"id":"da1105ae.9aed78","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":880,"wires":[["2540739d.a7977c"]]},{"id":"e26234f8.110188","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.3","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 8\n","output":"str","x":317,"y":880,"wires":[["da1105ae.9aed78"]]},{"id":"9808f341.5fb34","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":920,"wires":[["59e636f3.727048"]]},{"id":"6c28e22d.18082c","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.1 en 1.4 en 1.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 9\n","output":"str","x":367,"y":920,"wires":[["9808f341.5fb34"]]},{"id":"c48e2861.97f7d8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":960,"wires":[["725ddc12.20d4d4"]]},{"id":"89b8b41.718f448","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 1.2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 10\n","output":"str","x":317,"y":960,"wires":[["c48e2861.97f7d8"]]},{"id":"e4572850.a183c8","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":1000,"wires":[["672a1f4a.87ec9"]]},{"id":"3543dbb3.e8da14","type":"template","z":"9c6c63b4.e0ca3","name":"ruimte 0.4 B","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 11\n","output":"str","x":327,"y":1000,"wires":[["e4572850.a183c8"]]},{"id":"8a4a9ab7.31b908","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":1040,"wires":[["e8fb2b74.4459d8"]]},{"id":"a5122a34.9156f8","type":"template","z":"9c6c63b4.e0ca3","name":"Ruimte 1.10","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 12\n","output":"str","x":327,"y":1040,"wires":[["8a4a9ab7.31b908"]]},{"id":"5ea096e4.91c328","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":533,"y":1120,"wires":[["2ef4536c.1d335c"]]},{"id":"812c90f5.bb774","type":"template","z":"9c6c63b4.e0ca3","name":"server 1.7","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 15\n","output":"str","x":313,"y":1120,"wires":[["5ea096e4.91c328"]]},{"id":"d067cdbe.a4a1c","type":"mysql","z":"9c6c63b4.e0ca3","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":1080,"wires":[["f38a85da.e5dcd8"]]},{"id":"9cdbe007.71696","type":"template","z":"9c6c63b4.e0ca3","name":"slaapkamer 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 13\n","output":"str","x":337,"y":1080,"wires":[["d067cdbe.a4a1c"]]},{"id":"9219a1bd.b93b5","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.17 en 0.14","group":"78538e86.c95d9","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.17 en 0.14","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":910,"y":640,"wires":[]},{"id":"f95645ef.2eafd8","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":680,"wires":[["1d7302ed.5c333d"]]},{"id":"1d7302ed.5c333d","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.2 en 0.1","group":"78538e86.c95d9","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.2 en 0.1","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":906,"y":680,"wires":[]},{"id":"88e3c0da.0507d","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":720,"wires":[["7288a1ce.bdc98"]]},{"id":"7288a1ce.bdc98","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.5, 0.9 & Conv 3+4","group":"e2a8907a.8d417","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.5, 0.9 & Conv 3+4","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":936,"y":720,"wires":[]},{"id":"44a05b7e.51ee24","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":760,"wires":[["ac136934.cafd98"]]},{"id":"ac136934.cafd98","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.4 & conv 1+2","group":"19e5327.2dba2ce","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.4 & conv 1+2","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":916,"y":760,"wires":[]},{"id":"ee5b2a0d.e27d38","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["6b98aa54.35f834"]]},{"id":"6b98aa54.35f834","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.11 en 0.12 en 0.6","group":"78538e86.c95d9","order":2,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.11 en 0.12 en 0.6","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":926,"y":800,"wires":[]},{"id":"fd1f5af1.bc1148","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":840,"wires":[["16393702.66e079"]]},{"id":"16393702.66e079","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.15","group":"19e5327.2dba2ce","order":2,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.15","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#80ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":840,"wires":[]},{"id":"2540739d.a7977c","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":880,"wires":[["5c07e6e.6c86018"]]},{"id":"5c07e6e.6c86018","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 1.3","group":"53b83408.5fc3dc","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.3","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":876,"y":880,"wires":[]},{"id":"59e636f3.727048","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["23724eff.84de72"]]},{"id":"23724eff.84de72","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 1.1 en 1.4 en 1.6","group":"fbabf7a.f8a9608","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.1 en 1.4 en 1.6","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":926,"y":920,"wires":[]},{"id":"725ddc12.20d4d4","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":960,"wires":[["b18029c1.ada718"]]},{"id":"b18029c1.ada718","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 1.2","group":"fbabf7a.f8a9608","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.2","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":876,"y":960,"wires":[]},{"id":"672a1f4a.87ec9","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1000,"wires":[["35c7b7c7.a60c48"]]},{"id":"35c7b7c7.a60c48","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 0.8","group":"19e5327.2dba2ce","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.8","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":876,"y":1000,"wires":[]},{"id":"e8fb2b74.4459d8","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1040,"wires":[["f61d1256.4da37"]]},{"id":"f61d1256.4da37","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"Ruimte 1.10","group":"fbabf7a.f8a9608","order":2,"width":"4","height":"4","gtype":"gage","title":"Ruimte 1.10","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":1040,"wires":[]},{"id":"f38a85da.e5dcd8","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["68d888db.3562b8"]]},{"id":"68d888db.3562b8","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"ruimte 1.11","group":"53b83408.5fc3dc","order":2,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.11","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":1080,"wires":[]},{"id":"2ef4536c.1d335c","type":"function","z":"9c6c63b4.e0ca3","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1120,"wires":[["986297bd.047b88"]]},{"id":"986297bd.047b88","type":"ui_gauge","z":"9c6c63b4.e0ca3","name":"server 1.7","group":"53b83408.5fc3dc","order":1,"width":"4","height":"4","gtype":"gage","title":"server 1.7","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"20","x":876,"y":1120,"wires":[]},{"id":"a1a01234.93284","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.3-1","topic":"ruimte 1.3-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":120,"wires":[["3374e7c5.6b4a78"]],"outputLabels":["payload"]},{"id":"3374e7c5.6b4a78","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.3-1","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.3-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":120,"wires":[]},{"id":"ba02fa20.1f6d48","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.3-2","topic":"ruimte 1.3-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":159,"wires":[["aa205cd0.75ef1"]],"outputLabels":["payload"]},{"id":"aa205cd0.75ef1","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.3-12","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.3-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":159,"wires":[]},{"id":"efb7a7ff.3a5a68","type":"mqtt in","z":"3421fad.4d87d06","name":"tmpAanvoerR1.3","topic":"tmpAanvoerR1.3","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":200,"y":358,"wires":[["6d7cd452.689e3c"]],"outputLabels":["payload"]},{"id":"6d7cd452.689e3c","type":"ui_gauge","z":"3421fad.4d87d06","name":"tmpAanvoerR1.3","group":"c56d1bee.5df178","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR1.3","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1270,"y":358,"wires":[]},{"id":"ea6958d1.5a6aa8","type":"mqtt in","z":"3421fad.4d87d06","name":"flowVV1.3","topic":"flowVV1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":484,"wires":[["4847cf9f.5bb98"]]},{"id":"4847cf9f.5bb98","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":484,"wires":[["e0b111f1.f3589"]]},{"id":"7b5707b3.782ce8","type":"mqtt in","z":"3421fad.4d87d06","name":"thermUit1.3","topic":"thermUit1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":644,"wires":[["630c1ea0.d6921"]]},{"id":"630c1ea0.d6921","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":644,"wires":[["cd800a9c.ad0848"]]},{"id":"e0b111f1.f3589","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":1,"width":"3","height":"3","label":"flowVV1.3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowVV1.3","x":1240,"y":484,"wires":[]},{"id":"cd800a9c.ad0848","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":1,"width":"3","height":"3","label":"thermUit1.3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit1.3","x":1250,"y":644,"wires":[]},{"id":"d07b7dfa.c464f","type":"mqtt in","z":"3421fad.4d87d06","name":"vtAanvKoudVerdVV1.3","topic":"vtAanvKoudVerdVV1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":220,"y":564,"wires":[["f79849d4.cec8a8"]]},{"id":"f79849d4.cec8a8","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":564,"wires":[["80cfb1d8.563b4"]]},{"id":"2cfbd617.04e80a","type":"mqtt in","z":"3421fad.4d87d06","name":"vtAanvWarmVerdVV1.3","topic":"vtAanvWarmVerdVV1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":220,"y":604,"wires":[["47dfd73a.306aa8"]]},{"id":"47dfd73a.306aa8","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":604,"wires":[["b7fe02e2.24114"]]},{"id":"80cfb1d8.563b4","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV1.3","x":1280,"y":564,"wires":[]},{"id":"b7fe02e2.24114","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV1.3","x":1290,"y":604,"wires":[]},{"id":"52bc0acb.c88884","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV1.3","x":1280,"y":724,"wires":[]},{"id":"1b4579fc.f2c146","type":"mqtt in","z":"3421fad.4d87d06","name":"vtRetWarmVerdVV1.3","topic":"vtRetWarmVerdVV1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":220,"y":724,"wires":[["8c16a83.67b9258"]]},{"id":"8c16a83.67b9258","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":724,"wires":[["52bc0acb.c88884"]]},{"id":"3acfe653.5d29ea","type":"mqtt in","z":"3421fad.4d87d06","name":"vtRetKoudVerdVV1.3","topic":"vtRetKoudVerdVV1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":220,"y":684,"wires":[["8fd8af8.521a45"]]},{"id":"499fdef7.d8f67","type":"mqtt in","z":"3421fad.4d87d06","name":"hrPompR1.3","topic":"hrPompR1.3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":524,"wires":[["bb6469f4.50d618"]]},{"id":"8fd8af8.521a45","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":684,"wires":[["21e4d925.d8e2a6"]]},{"id":"bb6469f4.50d618","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":524,"wires":[["9bfbbe03.5a8b7"]]},{"id":"21e4d925.d8e2a6","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV1.3","x":1280,"y":684,"wires":[]},{"id":"9bfbbe03.5a8b7","type":"ui_led","z":"3421fad.4d87d06","group":"3fb71ee3.3e14c2","order":1,"width":"3","height":"3","label":"hrPompR1.3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR1.3","x":1250,"y":524,"wires":[]},{"id":"9fa5ae4b.d582d","type":"mqtt in","z":"3421fad.4d87d06","name":"rvMengVV1.3","topic":"rvMengVV1.3","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":398,"wires":[["32aa00f.e639f"]],"outputLabels":["payload"]},{"id":"32aa00f.e639f","type":"ui_gauge","z":"3421fad.4d87d06","name":"rvMengVV1.3","group":"c56d1bee.5df178","order":2,"width":"4","height":"4","gtype":"gage","title":"MengVV1.3","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1260,"y":398,"wires":[]},{"id":"c60e32b5.3cd73","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-1","x":1240,"y":811,"wires":[]},{"id":"9c43b0b3.323da","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-1","topic":" vtVV1.3-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":811,"wires":[["1d90ea90.9cfa25"]]},{"id":"1d90ea90.9cfa25","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":811,"wires":[["c60e32b5.3cd73"]]},{"id":"a2fab646.b05e68","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-2","x":1240,"y":851,"wires":[]},{"id":"75c12995.e09458","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-2","topic":" vtVV1.3-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":851,"wires":[["3c2383d6.f4cb7c"]]},{"id":"3c2383d6.f4cb7c","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":851,"wires":[["a2fab646.b05e68"]]},{"id":"2d6a0cc9.e39ad4","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-3","x":1240,"y":891,"wires":[]},{"id":"ea511ff6.46df6","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-3","topic":" vtVV1.3-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":891,"wires":[["6c816f58.07be2"]]},{"id":"6c816f58.07be2","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":891,"wires":[["2d6a0cc9.e39ad4"]]},{"id":"11f66d2f.3ac783","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-4","x":1240,"y":931,"wires":[]},{"id":"8e3501e6.f6454","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-4","topic":" vtVV1.3-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":931,"wires":[["b076a25f.ba8c"]]},{"id":"b076a25f.ba8c","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":931,"wires":[["11f66d2f.3ac783"]]},{"id":"fec23981.044828","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-5","x":1240,"y":976,"wires":[]},{"id":"cbf4d10a.b4e69","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-5","topic":" vtVV1.3-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":976,"wires":[["36774807.4cfcf8"]]},{"id":"36774807.4cfcf8","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":976,"wires":[["fec23981.044828"]]},{"id":"5aafe94e.fd6d28","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-6","x":1240,"y":1016,"wires":[]},{"id":"73195240.1070bc","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-6","topic":" vtVV1.3-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":1016,"wires":[["d9ee23e0.d72a8"]]},{"id":"d9ee23e0.d72a8","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1016,"wires":[["5aafe94e.fd6d28"]]},{"id":"2b5a0d04.2ef912","type":"comment","z":"3421fad.4d87d06","name":"Temperaturen","info":"","x":170,"y":81,"wires":[]},{"id":"7a75df12.089b6","type":"comment","z":"3421fad.4d87d06","name":"Pomp","info":"","x":150,"y":451,"wires":[]},{"id":"34e46a5.c02a296","type":"comment","z":"3421fad.4d87d06","name":"Zonemotoren","info":"","x":170,"y":778,"wires":[]},{"id":"c18d1371.abdfa","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-7","x":1240,"y":1056,"wires":[]},{"id":"e373d9a.d9daf28","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-7","topic":" vtVV1.3-7","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":1056,"wires":[["eafe1c4a.9dacd"]]},{"id":"eafe1c4a.9dacd","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1056,"wires":[["c18d1371.abdfa"]]},{"id":"78886f39.09f0f","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-8","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-8","x":1240,"y":1096,"wires":[]},{"id":"48708bb4.c4f334","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-8","topic":" vtVV1.3-8","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":1096,"wires":[["c01987a.e6c7978"]]},{"id":"c01987a.e6c7978","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1096,"wires":[["78886f39.09f0f"]]},{"id":"4828ea19.6b8ee4","type":"ui_led","z":"3421fad.4d87d06","group":"c56d1bee.5df178","order":6,"width":"3","height":"3","label":" vtVV1.3-9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.3-9","x":1240,"y":1141,"wires":[]},{"id":"90d8abaa.531ee8","type":"mqtt in","z":"3421fad.4d87d06","name":" vtVV1.3-9","topic":" vtVV1.3-9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":1141,"wires":[["2aafe3e5.94ec2c"]]},{"id":"2aafe3e5.94ec2c","type":"function","z":"3421fad.4d87d06","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1141,"wires":[["4828ea19.6b8ee4"]]},{"id":"a17a2371.631e4","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.1-1","topic":"ruimte 1.1-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":200,"wires":[["38cc8351.5bc84c"]],"outputLabels":["payload"]},{"id":"38cc8351.5bc84c","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.1-1","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.1-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":200,"wires":[]},{"id":"61b687f0.9f1f78","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.4-1","topic":"ruimte 1.4-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":239,"wires":[["2cce18ec.3b93b8"]],"outputLabels":["payload"]},{"id":"2cce18ec.3b93b8","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.4-1","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.4-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":239,"wires":[]},{"id":"60190a5b.634ed4","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.2-1","topic":"ruimte 1.2-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":280,"wires":[["42a4a61d.a48108"]],"outputLabels":["payload"]},{"id":"42a4a61d.a48108","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.2-1","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.2-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":280,"wires":[]},{"id":"592d8af7.c74264","type":"mqtt in","z":"3421fad.4d87d06","name":"ruimte 1.2-2","topic":"ruimte 1.2-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":319,"wires":[["9b323b01.db0238"]],"outputLabels":["payload"]},{"id":"9b323b01.db0238","type":"ui_gauge","z":"3421fad.4d87d06","name":"ruimte 1.2-2","group":"aae9d34b.b3ebe","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.2-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1250,"y":319,"wires":[]},{"id":"757f86dd.084f88","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.3-1","topic":"ruimte 1.3-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":100,"wires":[["85bbc21a.4fe88"]],"outputLabels":["payload"]},{"id":"85bbc21a.4fe88","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.3-1","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.3-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":100,"wires":[]},{"id":"9f0cd0df.f2cbe","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.3-2","topic":"ruimte 1.3-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":139,"wires":[["b4a3555c.73f268"]],"outputLabels":["payload"]},{"id":"b4a3555c.73f268","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.3-12","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.3-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":139,"wires":[]},{"id":"3641c23c.a662be","type":"mqtt in","z":"897d95db.5c31d8","name":"tmpAanvoerR1.9","topic":"tmpAanvoerR1.9","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":338,"wires":[["9f63b03b.63689"]],"outputLabels":["payload"]},{"id":"9f63b03b.63689","type":"ui_gauge","z":"897d95db.5c31d8","name":"tmpAanvoerR1.9","group":"f1342035.338a8","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR1.9","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1250,"y":338,"wires":[]},{"id":"2674957.887876a","type":"mqtt in","z":"897d95db.5c31d8","name":"flowVV1.9","topic":"flowVV1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":464,"wires":[["f6c6acd7.8d6fc"]]},{"id":"f6c6acd7.8d6fc","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":464,"wires":[["fad92181.f1105"]]},{"id":"2ddf85b3.ce552a","type":"mqtt in","z":"897d95db.5c31d8","name":"thermUit1.9","topic":"thermUit1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":624,"wires":[["17f34d9a.bc1fa2"]]},{"id":"17f34d9a.bc1fa2","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":624,"wires":[["3d7dafa1.71ec7"]]},{"id":"fad92181.f1105","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":1,"width":"3","height":"3","label":"flowVV1.9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowVV1.9","x":1220,"y":464,"wires":[]},{"id":"3d7dafa1.71ec7","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":1,"width":"3","height":"3","label":"thermUit1.9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit1.9","x":1230,"y":624,"wires":[]},{"id":"9b0566b9.a81118","type":"mqtt in","z":"897d95db.5c31d8","name":"vtAanvKoudVerdVV1.9","topic":"vtAanvKoudVerdVV1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":200,"y":544,"wires":[["8b5ac85a.b949e8"]]},{"id":"8b5ac85a.b949e8","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":544,"wires":[["fd47f92d.150c88"]]},{"id":"acb15d7a.3145c","type":"mqtt in","z":"897d95db.5c31d8","name":"vtAanvWarmVerdVV1.9","topic":"vtAanvWarmVerdVV1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":200,"y":584,"wires":[["c77fbbc1.60fab8"]]},{"id":"c77fbbc1.60fab8","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":584,"wires":[["184a4445.cbeccc"]]},{"id":"fd47f92d.150c88","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV1.9","x":1260,"y":544,"wires":[]},{"id":"184a4445.cbeccc","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV1.9","x":1270,"y":584,"wires":[]},{"id":"91da0cea.1dabf","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV1.9","x":1260,"y":704,"wires":[]},{"id":"573451a.c11f6b","type":"mqtt in","z":"897d95db.5c31d8","name":"vtRetWarmVerdVV1.9","topic":"vtRetWarmVerdVV1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":200,"y":704,"wires":[["8d450834.4ad218"]]},{"id":"8d450834.4ad218","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":704,"wires":[["91da0cea.1dabf"]]},{"id":"ac0f2e48.c63f8","type":"mqtt in","z":"897d95db.5c31d8","name":"vtRetKoudVerdVV1.9","topic":"vtRetKoudVerdVV1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":200,"y":664,"wires":[["f8673876.1f02d8"]]},{"id":"6f63c29c.e4850c","type":"mqtt in","z":"897d95db.5c31d8","name":"hrPompR1.9","topic":"hrPompR1.9","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":504,"wires":[["c8ff02c0.2e68d"]]},{"id":"f8673876.1f02d8","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":664,"wires":[["ca7fe9f6.051698"]]},{"id":"c8ff02c0.2e68d","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":504,"wires":[["ce0e2199.4f892"]]},{"id":"ca7fe9f6.051698","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV1.9","x":1260,"y":664,"wires":[]},{"id":"ce0e2199.4f892","type":"ui_led","z":"897d95db.5c31d8","group":"a06b403f.c9814","order":1,"width":"3","height":"3","label":"hrPompR1.9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR1.9","x":1230,"y":504,"wires":[]},{"id":"a94a575a.cdf018","type":"mqtt in","z":"897d95db.5c31d8","name":"rvMengVV1.9","topic":"rvMengVV1.9","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":378,"wires":[["9a3bcbfb.64e198"]],"outputLabels":["payload"]},{"id":"9a3bcbfb.64e198","type":"ui_gauge","z":"897d95db.5c31d8","name":"rvMengVV1.9","group":"f1342035.338a8","order":2,"width":"4","height":"4","gtype":"gage","title":"MengVV1.9","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1240,"y":378,"wires":[]},{"id":"d26207d.a2245f8","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-1","x":1230,"y":791,"wires":[]},{"id":"15cf8d06.8e8a83","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-1","topic":" vtVV1.9L-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":791,"wires":[["7fea5ace.880d24"]]},{"id":"7fea5ace.880d24","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":791,"wires":[["d26207d.a2245f8"]]},{"id":"14fb8efe.a7dce1","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-2","x":1230,"y":831,"wires":[]},{"id":"6b8f6801.d18408","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-2","topic":" vtVV1.9L-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":831,"wires":[["1299c6dc.c7a539"]]},{"id":"1299c6dc.c7a539","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":831,"wires":[["14fb8efe.a7dce1"]]},{"id":"836fa9f5.6f0798","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-3","x":1230,"y":871,"wires":[]},{"id":"7bd54bd4.cb02f4","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-3","topic":" vtVV1.9L-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":871,"wires":[["d50e785b.94bdf8"]]},{"id":"d50e785b.94bdf8","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":871,"wires":[["836fa9f5.6f0798"]]},{"id":"b73e5434.132368","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-4","x":1230,"y":911,"wires":[]},{"id":"4dd6d660.7fbf28","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-4","topic":" vtVV1.9L-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":911,"wires":[["8877dce5.b5cff"]]},{"id":"8877dce5.b5cff","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":911,"wires":[["b73e5434.132368"]]},{"id":"746aa23b.92860c","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-5","x":1230,"y":956,"wires":[]},{"id":"ae6bc58a.f23308","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-5","topic":" vtVV1.9L-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":956,"wires":[["372e3b3.e45f6c4"]]},{"id":"372e3b3.e45f6c4","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":956,"wires":[["746aa23b.92860c"]]},{"id":"68f8e78c.5a3588","type":"ui_led","z":"897d95db.5c31d8","group":"f1342035.338a8","order":6,"width":"3","height":"3","label":" vtVV1.9L-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9L-6","x":1230,"y":996,"wires":[]},{"id":"2baeaa81.1d8816","type":"mqtt in","z":"897d95db.5c31d8","name":" vtVV1.9L-6","topic":" vtVV1.9L-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":996,"wires":[["d8501f36.34971"]]},{"id":"d8501f36.34971","type":"function","z":"897d95db.5c31d8","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":996,"wires":[["68f8e78c.5a3588"]]},{"id":"a4f0f8ae.7778a8","type":"comment","z":"897d95db.5c31d8","name":"Temperaturen","info":"","x":150,"y":61,"wires":[]},{"id":"885179ea.5aee98","type":"comment","z":"897d95db.5c31d8","name":"Pomp","info":"","x":130,"y":431,"wires":[]},{"id":"e0762199.cef73","type":"comment","z":"897d95db.5c31d8","name":"Zonemotoren","info":"","x":150,"y":758,"wires":[]},{"id":"6cec99c.0a83268","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.1-1","topic":"ruimte 1.1-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":180,"wires":[["ceca56fd.0ab808"]],"outputLabels":["payload"]},{"id":"ceca56fd.0ab808","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.1-1","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.1-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":180,"wires":[]},{"id":"28b00dc2.413d12","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.4-1","topic":"ruimte 1.4-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":219,"wires":[["bfb29cb3.d1b6d"]],"outputLabels":["payload"]},{"id":"bfb29cb3.d1b6d","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.4-1","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.4-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":219,"wires":[]},{"id":"aa157c7a.8537c","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.2-1","topic":"ruimte 1.2-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":260,"wires":[["dc09db93.805968"]],"outputLabels":["payload"]},{"id":"dc09db93.805968","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.2-1","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.2-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":260,"wires":[]},{"id":"2232c4a9.3a7e2c","type":"mqtt in","z":"897d95db.5c31d8","name":"ruimte 1.2-2","topic":"ruimte 1.2-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":299,"wires":[["89d6daf0.519ea8"]],"outputLabels":["payload"]},{"id":"89d6daf0.519ea8","type":"ui_gauge","z":"897d95db.5c31d8","name":"ruimte 1.2-2","group":"9d68880f.2d2298","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.2-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1230,"y":299,"wires":[]},{"id":"a3156b02.23da78","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"FasebewakingK1","topic":"FasebewakingK1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":100,"y":1340,"wires":[["80385c9d.86841"]]},{"id":"80385c9d.86841","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1340,"wires":[["51448ee5.820d"]]},{"id":"51448ee5.820d","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"Fase ok kast 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"FasebewakingK1","x":1337,"y":1340,"wires":[]},{"id":"50e44ff9.548dd","type":"mqtt in","z":"a020e7bb.90af98","name":"ruimte 1.11-1","topic":"ruimte 1.11-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":100,"wires":[["4a104eae.b507f"]],"outputLabels":["payload"]},{"id":"4a104eae.b507f","type":"ui_gauge","z":"a020e7bb.90af98","name":"ruimte 1.11-1","group":"290abba0.5d7834","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.11-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":100,"wires":[]},{"id":"994a76f.ed3bd88","type":"mqtt in","z":"a020e7bb.90af98","name":"tmpAanvoerR1.9R","topic":"tmpAanvoerR1.9R","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":170,"y":338,"wires":[["f80d8903.e2ed58"]],"outputLabels":["payload"]},{"id":"f80d8903.e2ed58","type":"ui_gauge","z":"a020e7bb.90af98","name":"tmpAanvoerR1.9R","group":"57947a00.46c278","order":1,"width":"4","height":"4","gtype":"gage","title":"tmpAanvoerR1.9R","label":"°C","format":"{{value}}","min":"5","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":1230,"y":338,"wires":[]},{"id":"4796556c.d6718c","type":"mqtt in","z":"a020e7bb.90af98","name":"flowVV1.9R","topic":"flowVV1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":464,"wires":[["e171b64.0b1a848"]]},{"id":"e171b64.0b1a848","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":464,"wires":[["8323367b.dc7078"]]},{"id":"8ee8218f.43ae6","type":"mqtt in","z":"a020e7bb.90af98","name":"thermUit1.9R","topic":"thermUit1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":624,"wires":[["30648162.07931e"]]},{"id":"30648162.07931e","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":624,"wires":[["b5b6dc0e.2cae4"]]},{"id":"8323367b.dc7078","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":1,"width":"3","height":"3","label":"flowVV1.9R","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowVV1.9R","x":1210,"y":464,"wires":[]},{"id":"b5b6dc0e.2cae4","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":1,"width":"3","height":"3","label":"thermUit1.9R","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"thermUit1.9R","x":1210,"y":624,"wires":[]},{"id":"fef25590.d056a8","type":"mqtt in","z":"a020e7bb.90af98","name":"vtAanvKoudVerdVV1.9R","topic":"vtAanvKoudVerdVV1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":544,"wires":[["75b097.61c36f68"]]},{"id":"75b097.61c36f68","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":544,"wires":[["aad3e9d3.422338"]]},{"id":"7159c520.4b64ec","type":"mqtt in","z":"a020e7bb.90af98","name":"vtAanvWarmVerdVV1.9R","topic":"vtAanvWarmVerdVV1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":190,"y":584,"wires":[["32fc7688.6d7a8a"]]},{"id":"32fc7688.6d7a8a","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":584,"wires":[["bb743446.fc5a18"]]},{"id":"aad3e9d3.422338","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":3,"width":"3","height":"3","label":"AanvKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvKoudVerdVV1.9R","x":1250,"y":544,"wires":[]},{"id":"bb743446.fc5a18","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":4,"width":"3","height":"3","label":"AanvWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtAanvWarmVerdVV1.9R","x":1250,"y":584,"wires":[]},{"id":"91fad501.2805f8","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":6,"width":"3","height":"3","label":"RetWarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetWarmVerdVV1.9R","x":1250,"y":704,"wires":[]},{"id":"6a948080.ca54c","type":"mqtt in","z":"a020e7bb.90af98","name":"vtRetWarmVerdVV1.9R","topic":"vtRetWarmVerdVV1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":704,"wires":[["247cc7bf.016258"]]},{"id":"247cc7bf.016258","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":704,"wires":[["91fad501.2805f8"]]},{"id":"e842334d.6c63e","type":"mqtt in","z":"a020e7bb.90af98","name":"vtRetKoudVerdVV1.9R","topic":"vtRetKoudVerdVV1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":180,"y":664,"wires":[["71763303.4f559c"]]},{"id":"18541da9.bccad2","type":"mqtt in","z":"a020e7bb.90af98","name":"hrPompR1.9R","topic":"hrPompR1.9R","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":504,"wires":[["e844bf02.e5058"]]},{"id":"71763303.4f559c","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":664,"wires":[["30c43f54.bd3ba"]]},{"id":"e844bf02.e5058","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":504,"wires":[["e577f67c.08bcc8"]]},{"id":"30c43f54.bd3ba","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":5,"width":"3","height":"3","label":"RetKoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vtRetKoudVerdVV1.9R","x":1240,"y":664,"wires":[]},{"id":"e577f67c.08bcc8","type":"ui_led","z":"a020e7bb.90af98","group":"7026bc21.47d1b4","order":1,"width":"3","height":"3","label":"hrPompR1.9R","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrPompR1.9R","x":1220,"y":504,"wires":[]},{"id":"8cbc8ab2.919668","type":"mqtt in","z":"a020e7bb.90af98","name":"rvMengVV1.9R","topic":"rvMengVV1.9R","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":160,"y":378,"wires":[["a433699c.4c0fb8"]],"outputLabels":["payload"]},{"id":"a433699c.4c0fb8","type":"ui_gauge","z":"a020e7bb.90af98","name":"rvMengVV1.9R","group":"57947a00.46c278","order":2,"width":"4","height":"4","gtype":"gage","title":"MengVV1.9R","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1220,"y":378,"wires":[]},{"id":"869c035c.a14c3","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-1","x":1210,"y":791,"wires":[]},{"id":"31ff0227.6ef41e","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-1","topic":" vtVV1.9R-1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":791,"wires":[["da3d06da.e27b28"]]},{"id":"da3d06da.e27b28","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":791,"wires":[["869c035c.a14c3"]]},{"id":"a38dfe90.fb917","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-2","x":1210,"y":831,"wires":[]},{"id":"4ad60667.82afa8","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-2","topic":" vtVV1.9R-2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":831,"wires":[["3c2dd3ab.b091ec"]]},{"id":"3c2dd3ab.b091ec","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":831,"wires":[["a38dfe90.fb917"]]},{"id":"5748e644.0ec908","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-3","x":1210,"y":871,"wires":[]},{"id":"7c12582f.729e68","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-3","topic":" vtVV1.9R-3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":871,"wires":[["f3a507b2.0bb3c8"]]},{"id":"f3a507b2.0bb3c8","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":871,"wires":[["5748e644.0ec908"]]},{"id":"c108529d.bd8d7","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-4","x":1210,"y":911,"wires":[]},{"id":"3761b20c.629ace","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-4","topic":" vtVV1.9R-4","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":911,"wires":[["ad0832b7.164a"]]},{"id":"ad0832b7.164a","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":911,"wires":[["c108529d.bd8d7"]]},{"id":"93d27413.e3a0e8","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-5","x":1210,"y":956,"wires":[]},{"id":"500e3cde.58bc24","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-5","topic":" vtVV1.9R-5","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":956,"wires":[["4d51bf1d.cdda9"]]},{"id":"4d51bf1d.cdda9","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":956,"wires":[["93d27413.e3a0e8"]]},{"id":"5ab3d690.7e0408","type":"ui_led","z":"a020e7bb.90af98","group":"57947a00.46c278","order":6,"width":"3","height":"3","label":" vtVV1.9R-6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":" vtVV1.9R-6","x":1210,"y":996,"wires":[]},{"id":"36f482a.16e567e","type":"mqtt in","z":"a020e7bb.90af98","name":" vtVV1.9R-6","topic":" vtVV1.9R-6","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":996,"wires":[["20b178f3.bae3f8"]]},{"id":"20b178f3.bae3f8","type":"function","z":"a020e7bb.90af98","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":996,"wires":[["5ab3d690.7e0408"]]},{"id":"de42e1fb.5b3ea","type":"comment","z":"a020e7bb.90af98","name":"Temperaturen","info":"","x":130,"y":61,"wires":[]},{"id":"c1ee1e6.cdf05e","type":"comment","z":"a020e7bb.90af98","name":"Pomp","info":"","x":110,"y":431,"wires":[]},{"id":"9d33fe9f.41fb5","type":"comment","z":"a020e7bb.90af98","name":"Zonemotoren","info":"","x":130,"y":758,"wires":[]},{"id":"19c7d7f8.bea368","type":"mqtt in","z":"a020e7bb.90af98","name":"ruimte 1.10-1","topic":"ruimte 1.10-1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":140,"wires":[["bde5e075.3e339"]],"outputLabels":["payload"]},{"id":"bde5e075.3e339","type":"ui_gauge","z":"a020e7bb.90af98","name":"ruimte 1.10-1","group":"290abba0.5d7834","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.10-1","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":140,"wires":[]},{"id":"5d224ff2.a3324","type":"mqtt in","z":"a020e7bb.90af98","name":"ruimte 1.10-2","topic":"ruimte 1.10-2","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":181,"wires":[["d4238c69.f483a"]],"outputLabels":["payload"]},{"id":"d4238c69.f483a","type":"ui_gauge","z":"a020e7bb.90af98","name":"ruimte 1.10-2","group":"290abba0.5d7834","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.10-2","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":181,"wires":[]},{"id":"f29204f7.3475a8","type":"mqtt in","z":"a020e7bb.90af98","name":"ruimte 1.10-3","topic":"ruimte 1.10-3","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":150,"y":220,"wires":[["e500b587.7d5c38"]],"outputLabels":["payload"]},{"id":"e500b587.7d5c38","type":"ui_gauge","z":"a020e7bb.90af98","name":"ruimte 1.10-3","group":"290abba0.5d7834","order":1,"width":"3","height":"3","gtype":"gage","title":"ruimte 1.10-3","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"18","seg2":"25","x":1210,"y":220,"wires":[]},{"id":"897148b2.a856b8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ctPompKWAlarm","topic":"ctPompKWAlarm","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":100,"y":1400,"wires":[["d38172da.c5207"]]},{"id":"d38172da.c5207","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1400,"wires":[["16ad0499.a37a6b"]]},{"id":"16ad0499.a37a6b","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"ctPompKWAlarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"ctPompKWAlarm","x":1337,"y":1400,"wires":[]},{"id":"7e93f3f.8f1530c","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ctPompKWbedrijf","topic":"ctPompKWbedrijf","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":100,"y":1440,"wires":[["614343a0.e86c8c"]]},{"id":"614343a0.e86c8c","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1440,"wires":[["a8393b9d.7eaf58"]]},{"id":"a8393b9d.7eaf58","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"ctPompKWbedrijf","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"ctPompKWbedrijf","x":1337,"y":1440,"wires":[]},{"id":"53df1802.5fad88","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"CV1inbedrijf","topic":"CV1inbedrijf","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1500,"wires":[["6be1fd78.ae3234"]]},{"id":"6be1fd78.ae3234","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1500,"wires":[["f2119594.6cc838"]]},{"id":"f2119594.6cc838","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"CV1inbedrijf","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"CV1inbedrijf","x":1317,"y":1500,"wires":[]},{"id":"b6d63a5e.9566a8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"CV1alarm","topic":"CV1alarm","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1540,"wires":[["e0501949.4ed978"]]},{"id":"e0501949.4ed978","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1540,"wires":[["27a1dae3.280336"]]},{"id":"27a1dae3.280336","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"CV1alarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"CV1alarm","x":1307,"y":1540,"wires":[]},{"id":"2babdf68.cd47f","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"CV2inbedrijf","topic":"CV2inbedrijf","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1580,"wires":[["3bfc57bf.9b48d8"]]},{"id":"3bfc57bf.9b48d8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1580,"wires":[["2f7fae7f.20dd52"]]},{"id":"2f7fae7f.20dd52","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"CV2inbedrijf","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"CV2inbedrijf","x":1317,"y":1580,"wires":[]},{"id":"6d3da8f4.0f7948","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"CV2alarm","topic":"CV2alarm","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1620,"wires":[["5080a8f.8f52658"]]},{"id":"5080a8f.8f52658","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1620,"wires":[["1fcb78f0.de1197"]]},{"id":"1fcb78f0.de1197","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"CV2alarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"CV2alarm","x":1307,"y":1620,"wires":[]},{"id":"82ee7d58.81b79","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ctKoelenVerwarmen1","topic":"ctKoelenVerwarmen1","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1660,"wires":[["81d116ce.7e6cd8"]]},{"id":"81d116ce.7e6cd8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1660,"wires":[["badbcf74.0e6ee"]]},{"id":"badbcf74.0e6ee","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"ctKoelenVerwarmen1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"ctKoelenVerwarmen1","x":1347,"y":1660,"wires":[]},{"id":"d52d43dc.79e25","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ctKoelenVerwarmen2","topic":"ctKoelenVerwarmen2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1700,"wires":[["98c1a9ee.d56368"]]},{"id":"98c1a9ee.d56368","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1700,"wires":[["4e019408.8cb02c"]]},{"id":"4e019408.8cb02c","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"ctKoelenVerwarmen2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"ctKoelenVerwarmen2","x":1347,"y":1700,"wires":[]},{"id":"ad6c08f7.ab50c8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"ctKoelenVerwarmen3","topic":"ctKoelenVerwarmen3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":120,"y":1740,"wires":[["3b0df1b1.852bbe"]]},{"id":"3b0df1b1.852bbe","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1740,"wires":[["d9a0109f.a9a5b"]]},{"id":"d9a0109f.a9a5b","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":10,"width":"0","height":"0","label":"ctKoelenVerwarmen3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"ctKoelenVerwarmen3","x":1347,"y":1740,"wires":[]}]