.node-red/flows_CDLaptop.json
[{"id":"1c12fb7c.cf3be5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7cc933d.d1e21","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2626cb63.dc1624","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"heimdall","tz":""},{"id":"c5e90791.8dfe58","type":"ui_group","z":"1c12fb7c.cf3be5","name":"Pid tuning","tab":"abdaf997.1b0688","order":4,"disp":true,"width":"6","collapse":true},{"id":"8f2369d.adab498","type":"ui_group","z":"1c12fb7c.cf3be5","name":"IO status","tab":"abdaf997.1b0688","order":5,"disp":true,"width":6,"collapse":false},{"id":"779f1603.863428","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Heimdall Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf56d50f.f7d808","type":"mqtt-broker","z":"","name":"192.168.1.4","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38b9ab1d.e66764","type":"ui_group","z":"","name":"Linear Gauges","tab":"","disp":true,"width":"12","collapse":false},{"id":"abdaf997.1b0688","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9e46a438.9842e8","type":"ui_group","z":"","name":"commando's","tab":"abdaf997.1b0688","order":1,"disp":true,"width":13,"collapse":false},{"id":"f6b4b868.4a32a8","type":"ui_group","z":"","name":"Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"c92f17f0.31d978","type":"ui_group","z":"","name":"Status","tab":"","disp":true,"width":"6","collapse":false},{"id":"357b154d.b804da","type":"ui_group","z":"","name":"Settings","tab":"abdaf997.1b0688","order":2,"disp":true,"width":"6","collapse":false},{"id":"8054cfbe.ca6c6","type":"ui_group","z":"","name":"Ruimte settings","tab":"abdaf997.1b0688","order":3,"disp":true,"width":"6","collapse":false},{"id":"62501bce.572c74","type":"ui_tab","z":"","name":"Temperaturen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"19e5327.2dba2ce","type":"ui_group","z":"","name":"Begane grond 1","tab":"62501bce.572c74","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbabf7a.f8a9608","type":"ui_group","z":"","name":"Verdieping","tab":"62501bce.572c74","order":4,"disp":true,"width":"6","collapse":false},{"id":"78538e86.c95d9","type":"ui_group","z":"","name":"Begane grond 2","tab":"62501bce.572c74","order":2,"disp":true,"width":"6","collapse":false},{"id":"53b83408.5fc3dc","type":"ui_group","z":"","name":"Verdieping 2","tab":"62501bce.572c74","order":5,"disp":true,"width":"6","collapse":false},{"id":"74c4951f.1fd3bc","type":"ui_spacer","name":"spacer","group":"9e46a438.9842e8","order":3,"width":13,"height":1},{"id":"ee064c96.c4131","type":"ui_spacer","name":"spacer","group":"357b154d.b804da","order":4,"width":6,"height":1},{"id":"231c1204.a7b4de","type":"ui_group","z":"","name":"Technische waarden","tab":"abdaf997.1b0688","disp":true,"width":"13","collapse":false},{"id":"e2a8907a.8d417","type":"ui_group","z":"","name":"Begane grond 3","tab":"62501bce.572c74","order":3,"disp":true,"width":"6","collapse":false},{"id":"6da9817f.5e74e","type":"ui_link","z":"","name":"Kast 1","link":"http://192.168.5.142/config/","icon":"open_in_browser","target":"newtab","order":3},{"id":"178b8a5f.defa26","type":"ui_link","z":"","name":"Kast 2","link":"http://192.168.5.144/config/","icon":"open_in_browser","target":"newtab","order":4},{"id":"1af5e71.0f80219","type":"ui_link","z":"","name":"Kast 3","link":"http://192.168.5.145/config/","icon":"open_in_browser","target":"newtab","order":5},{"id":"6f8ff2e.5c3940c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":480,"wires":[["d9bceda.d4d191"]]},{"id":"4f99246b.4853fc","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":110,"y":480,"wires":[["740b5519.c16ecc","4c9bc23.bc7b13c"]]},{"id":"622e2bf2.db7994","type":"comment","z":"1c12fb7c.cf3be5","name":"Show current status and last error","info":"","x":150,"y":440,"wires":[]},{"id":"f38bafbc.85e21","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":200,"wires":[["3eb4cd0b.724ba2"]]},{"id":"b1f97441.077848","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'Exit'","output":"str","x":380,"y":200,"wires":[["f38bafbc.85e21"]]},{"id":"4968e016.eacd1","type":"comment","z":"1c12fb7c.cf3be5","name":"Update commands in DB","info":"","x":130,"y":140,"wires":[]},{"id":"740b5519.c16ecc","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 2\n","output":"str","x":320,"y":480,"wires":[["6f8ff2e.5c3940c"]]},{"id":"3eb4cd0b.724ba2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":200,"wires":[]},{"id":"8d1c346c.dde9e8","type":"ui_button","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","group":"9e46a438.9842e8","order":4,"width":0,"height":0,"passthru":false,"label":"Exit Heimdall","tooltip":"Push button to stop Heimdall.","color":"","bgcolor":"red","icon":"fa-stop-circle-o ","payload":"Exit","payloadType":"str","topic":"Command","x":90,"y":200,"wires":[["b1f97441.077848"]]},{"id":"bd077563.f681f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":569,"y":300,"wires":[["4fbb7162.bb801"]]},{"id":"43b9e68e.b9e1c8","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'ToonActWaarde'","output":"str","x":379,"y":300,"wires":[["bd077563.f681f8"]]},{"id":"4fbb7162.bb801","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":300,"wires":[]},{"id":"431ed09e.f563f","type":"ui_button","z":"1c12fb7c.cf3be5","d":true,"name":"","group":"9e46a438.9842e8","order":5,"width":0,"height":0,"passthru":false,"label":"output naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":110,"y":300,"wires":[["43b9e68e.b9e1c8"]]},{"id":"f7c98991.4c9d08","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":360,"wires":[["3adf0e60.3cc5d2"]]},{"id":"e2ad5f31.e8d33","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 0 \nWHERE Command = 'ToonActWaarde'","output":"str","x":380,"y":360,"wires":[["f7c98991.4c9d08"]]},{"id":"3adf0e60.3cc5d2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"adcd18eb.d07e48","type":"ui_button","z":"1c12fb7c.cf3be5","d":true,"name":"","group":"9e46a438.9842e8","order":6,"width":0,"height":0,"passthru":false,"label":"output niet naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":130,"y":360,"wires":[["e2ad5f31.e8d33"]]},{"id":"718664e.992c69c","type":"ui_text","z":"1c12fb7c.cf3be5","group":"9e46a438.9842e8","order":1,"width":0,"height":0,"name":"Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":480,"wires":[]},{"id":"d9bceda.d4d191","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["718664e.992c69c"]]},{"id":"dccf15eb.ec11f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":560,"wires":[["820d96c6.de82d8"]]},{"id":"4c9bc23.bc7b13c","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 3","output":"str","x":320,"y":560,"wires":[["dccf15eb.ec11f8"]]},{"id":"e5f4127b.ffbb5","type":"ui_text","z":"1c12fb7c.cf3be5","group":"9e46a438.9842e8","order":2,"width":0,"height":0,"name":"Last Error","label":"Laatste foutmelding:","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":560,"wires":[]},{"id":"820d96c6.de82d8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["e5f4127b.ffbb5"]]},{"id":"f85ba616.877088","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls1","topic":"hrAlivePuls1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":92,"y":640,"wires":[["ee5f853f.f042e8"]],"outputLabels":["payload"]},{"id":"bf0330f1.64b5a","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls3","topic":"hrAlivePuls3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":718,"wires":[["541cef6d.b9442"]]},{"id":"ec120740.60c558","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls2","topic":"hrAlivePuls2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":681,"wires":[["d52edcb4.e9ac3"]]},{"id":"f1b7f9b4.5bd648","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":3,"width":0,"height":0,"label":"hrAlivePuls1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls1","x":1320,"y":640,"wires":[]},{"id":"3961e46d.f982ec","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":1,"width":0,"height":0,"label":"hrAlivePuls3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls3","x":1325,"y":718,"wires":[]},{"id":"5c1ee641.5e2ad8","type":"ui_led","z":"1c12fb7c.cf3be5","group":"8f2369d.adab498","order":2,"width":0,"height":0,"label":"hrAlivePuls2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls2","x":1321,"y":681,"wires":[]},{"id":"ee5f853f.f042e8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":640,"wires":[["f1b7f9b4.5bd648"]]},{"id":"d52edcb4.e9ac3","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":681,"wires":[["5c1ee641.5e2ad8"]]},{"id":"541cef6d.b9442","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":718,"wires":[["3961e46d.f982ec"]]},{"id":"fe3e2a11.e674b8","type":"comment","z":"1c12fb7c.cf3be5","name":"PID tuning","info":"","x":100,"y":1140,"wires":[]},{"id":"67a7f909.206bd8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1159,"y":1155,"wires":[["c8bc651f.46a408"]]},{"id":"209c0fbd.2944b","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 21","output":"str","x":985,"y":1155,"wires":[["67a7f909.206bd8"]]},{"id":"c8bc651f.46a408","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1345,"y":1155,"wires":[]},{"id":"28a90b1a.d59b74","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kp","tooltip":"","group":"c5e90791.8dfe58","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.1","x":795,"y":1155,"wires":[["209c0fbd.2944b"]]},{"id":"e07fa79d.82c048","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1165,"y":1195,"wires":[["60a95ec5.57487"]]},{"id":"e28d00f3.f40cb","type":"template","z":"1c12fb7c.cf3be5","name":"Update Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 22","output":"str","x":981,"y":1195,"wires":[["e07fa79d.82c048"]]},{"id":"60a95ec5.57487","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1345,"y":1195,"wires":[]},{"id":"439e4f84.31032","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Ki","tooltip":"","group":"c5e90791.8dfe58","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":801,"y":1195,"wires":[["e28d00f3.f40cb"]]},{"id":"5e05aa3e.1aa994","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1165,"y":1235,"wires":[["448064ea.071d0c"]]},{"id":"6e201866.95fd18","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 23","output":"str","x":991,"y":1235,"wires":[["5e05aa3e.1aa994"]]},{"id":"448064ea.071d0c","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1345,"y":1235,"wires":[]},{"id":"5b2856e3.b555f8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kd","tooltip":"","group":"c5e90791.8dfe58","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":801,"y":1235,"wires":[["6e201866.95fd18"]]},{"id":"7d9405de.efd78c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":431,"y":1155,"wires":[["9791cdce.30844"]]},{"id":"cbbc2dd6.7d6f9","type":"template","z":"1c12fb7c.cf3be5","name":"Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 21\n","output":"str","x":241,"y":1155,"wires":[["7d9405de.efd78c"]]},{"id":"341d5d05.363ef2","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":431,"y":1195,"wires":[["b0b16c5e.489c9"]]},{"id":"bae5dc8a.cec12","type":"template","z":"1c12fb7c.cf3be5","name":"Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 22\n\n","output":"str","x":241,"y":1195,"wires":[["341d5d05.363ef2"]]},{"id":"78a9b7ed.2a38a8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":431,"y":1235,"wires":[["7938b8bc.b6dc68"]]},{"id":"9dc4998.16ab468","type":"template","z":"1c12fb7c.cf3be5","name":"Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 23\n","output":"str","x":241,"y":1235,"wires":[["78a9b7ed.2a38a8"]]},{"id":"9791cdce.30844","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":1155,"wires":[["28a90b1a.d59b74"]]},{"id":"b0b16c5e.489c9","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":1195,"wires":[["439e4f84.31032"]]},{"id":"7938b8bc.b6dc68","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":1235,"wires":[["5b2856e3.b555f8"]]},{"id":"a1c8da4d.f28168","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":95,"y":1195,"wires":[["cbbc2dd6.7d6f9","bae5dc8a.cec12","9dc4998.16ab468"]]},{"id":"63af5c5.90dc6a4","type":"comment","z":"1c12fb7c.cf3be5","name":"Settings Thijs","info":"","x":90,"y":1280,"wires":[]},{"id":"7cc5eeca.b2e3e","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1208,"y":1330,"wires":[[]]},{"id":"ccb85f6c.c239a","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 20","output":"str","x":1057,"y":1330,"wires":[["7cc5eeca.b2e3e"]]},{"id":"c0c6f00c.258a2","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Ketel hoog","tooltip":"","group":"357b154d.b804da","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"40","max":"90","step":"1","x":875,"y":1330,"wires":[["ccb85f6c.c239a"]]},{"id":"a49cf0dc.0a657","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1214,"y":1370,"wires":[[]]},{"id":"50283069.93dd4","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 19","output":"str","x":1063,"y":1370,"wires":[["a49cf0dc.0a657"]]},{"id":"62177fb1.578e7","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Ketel laag","tooltip":"","group":"357b154d.b804da","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"25","max":"50","step":"1","x":871,"y":1370,"wires":[["50283069.93dd4"]]},{"id":"44641798.dd7448","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1214,"y":1410,"wires":[[]]},{"id":"bec9c731.b6ae98","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 18","output":"str","x":1063,"y":1410,"wires":[["44641798.dd7448"]]},{"id":"40517535.bd0aec","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Temp H2O VVW","tooltip":"","group":"357b154d.b804da","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"25","max":"47","step":"1","x":891,"y":1410,"wires":[["bec9c731.b6ae98"]]},{"id":"45071ac4.1b11e4","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":561,"y":1330,"wires":[["75cbbb7a.bbae04"]]},{"id":"e97effd8.67a62","type":"template","z":"1c12fb7c.cf3be5","name":"Ketel hoog","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 20\n","output":"str","x":348,"y":1330,"wires":[["45071ac4.1b11e4"]]},{"id":"6351f59e.ed3b0c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":561,"y":1370,"wires":[["f370be19.160aa"]]},{"id":"521337b1.26deb8","type":"template","z":"1c12fb7c.cf3be5","name":"Ketel laag","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 19\n\n","output":"str","x":338,"y":1370,"wires":[["6351f59e.ed3b0c"]]},{"id":"42eca4e8.1a104c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":561,"y":1410,"wires":[["87f89002.ffb37"]]},{"id":"8a3fc735.f67848","type":"template","z":"1c12fb7c.cf3be5","name":"Temp H2O VVW","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 18\n","output":"str","x":358,"y":1410,"wires":[["42eca4e8.1a104c"]]},{"id":"75cbbb7a.bbae04","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1330,"wires":[["c0c6f00c.258a2"]]},{"id":"f370be19.160aa","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1370,"wires":[["62177fb1.578e7"]]},{"id":"87f89002.ffb37","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1410,"wires":[["40517535.bd0aec"]]},{"id":"5c413252.360b1c","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":1460,"wires":[["e97effd8.67a62","521337b1.26deb8","8a3fc735.f67848","b0069b26.25f558","6673f459.5781fc","cf445363.53d71","8265bd2c.36904"]]},{"id":"5fda8e21.2aada","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1209,"y":1460,"wires":[[]]},{"id":"5ec132b0.c451cc","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 7","output":"str","x":1058,"y":1460,"wires":[["5fda8e21.2aada"]]},{"id":"b978d571.0d5a18","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"max dT Conv W","tooltip":"","group":"357b154d.b804da","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.5","x":886,"y":1460,"wires":[["5ec132b0.c451cc"]]},{"id":"9b94a2f8.bed8f","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":556,"y":1460,"wires":[["d5cba4e.8fd0258"]]},{"id":"b0069b26.25f558","type":"template","z":"1c12fb7c.cf3be5","name":"max dT Conv W","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 7\n","output":"str","x":353,"y":1460,"wires":[["9b94a2f8.bed8f"]]},{"id":"d5cba4e.8fd0258","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1460,"wires":[["b978d571.0d5a18"]]},{"id":"3beb950b.9a2a2a","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1209,"y":1500,"wires":[[]]},{"id":"c5f84eaa.f095c","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 9","output":"str","x":1062,"y":1500,"wires":[["3beb950b.9a2a2a"]]},{"id":"b45e4694.e765c8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"blaas dT Conv W","tooltip":"","group":"357b154d.b804da","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"17","step":"0.5","x":896,"y":1500,"wires":[["c5f84eaa.f095c"]]},{"id":"fe736d1f.ac484","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":556,"y":1500,"wires":[["3c579b49.724484"]]},{"id":"6673f459.5781fc","type":"template","z":"1c12fb7c.cf3be5","name":"blaas dT Conv W","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 9\n","output":"str","x":363,"y":1500,"wires":[["fe736d1f.ac484"]]},{"id":"3c579b49.724484","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1500,"wires":[["b45e4694.e765c8"]]},{"id":"5e4f6eec.41872","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1209,"y":1540,"wires":[[]]},{"id":"edb23d21.0971b","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 5","output":"str","x":1062,"y":1540,"wires":[["5e4f6eec.41872"]]},{"id":"ee5734bb.662628","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"dT nacht","tooltip":"","group":"357b154d.b804da","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.1","x":866,"y":1540,"wires":[["edb23d21.0971b"]]},{"id":"9082d527.3f3808","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":556,"y":1540,"wires":[["6c6ad667.ec9508"]]},{"id":"cf445363.53d71","type":"template","z":"1c12fb7c.cf3be5","name":"dT nacht","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 5\n","output":"str","x":333,"y":1540,"wires":[["9082d527.3f3808"]]},{"id":"6c6ad667.ec9508","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1540,"wires":[["ee5734bb.662628"]]},{"id":"22f4aaa7.f40fd6","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1207,"y":1585,"wires":[[]]},{"id":"18abb313.6ad51d","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 2","output":"str","x":1060,"y":1585,"wires":[["22f4aaa7.f40fd6"]]},{"id":"d51617de.bd1068","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"dT ruimte","tooltip":"","group":"357b154d.b804da","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5","step":"0.5","x":864,"y":1585,"wires":[["18abb313.6ad51d"]]},{"id":"c2afda1e.618098","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":554,"y":1585,"wires":[["b1cb4fe2.5045d"]]},{"id":"8265bd2c.36904","type":"template","z":"1c12fb7c.cf3be5","name":"dT ruimte","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 2\n","output":"str","x":331,"y":1585,"wires":[["c2afda1e.618098"]]},{"id":"b1cb4fe2.5045d","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":1585,"wires":[["d51617de.bd1068"]]},{"id":"81879100.8c873","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1780,"wires":[[]]},{"id":"7925ec65.d4d794","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 1","output":"str","x":1059,"y":1780,"wires":[["81879100.8c873"]]},{"id":"392a4f83.d773","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.17 en 0.14","tooltip":"","group":"8054cfbe.ca6c6","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":887,"y":1780,"wires":[["7925ec65.d4d794"]]},{"id":"832e8186.bed65","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1780,"wires":[["a29fe115.34c5e"]]},{"id":"abdac624.10cf38","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.17 en 0.14","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 1\n","output":"str","x":354,"y":1780,"wires":[["832e8186.bed65"]]},{"id":"a29fe115.34c5e","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1780,"wires":[["392a4f83.d773"]]},{"id":"9fd6d72d.881248","type":"comment","z":"1c12fb7c.cf3be5","name":"Groepen","info":"","x":100,"y":1700,"wires":[]},{"id":"78391a8b.682b44","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":2020,"wires":[["abdac624.10cf38","d62567a.2774698","e460f38b.8fe19","1fcb00a2.ea5f0f","9c50a8e1.a7d7a8","aedebcd2.b8c16","ba54a35e.119de","8dbf4e29.1377d","f97ea1ea.890ed","28147fe9.18c9b","52c05a54.ac0e34","cb114f27.86547","e3117d9a.56fa4"]]},{"id":"192c5372.27215d","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1820,"wires":[[]]},{"id":"994547fc.078718","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 2","output":"str","x":1059,"y":1820,"wires":[["192c5372.27215d"]]},{"id":"c5bf5a8b.e65cc8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.2 en 0.1","tooltip":"","group":"8054cfbe.ca6c6","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":887,"y":1820,"wires":[["994547fc.078718"]]},{"id":"f4477f51.86515","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1820,"wires":[["cae0114b.f9da2"]]},{"id":"d62567a.2774698","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.2 en 0.1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 2\n","output":"str","x":354,"y":1820,"wires":[["f4477f51.86515"]]},{"id":"cae0114b.f9da2","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":1820,"wires":[["c5bf5a8b.e65cc8"]]},{"id":"8f0c08b5.e09098","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1860,"wires":[[]]},{"id":"5da9a4ed.c6c70c","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 3","output":"str","x":1059,"y":1860,"wires":[["8f0c08b5.e09098"]]},{"id":"ac4280fe.22494","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.8, 0.5, 0.9, Conv3+4","tooltip":"","group":"8054cfbe.ca6c6","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":917,"y":1860,"wires":[["5da9a4ed.c6c70c"]]},{"id":"8d9842f9.58a42","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1860,"wires":[["124283e3.3d9ebc"]]},{"id":"e460f38b.8fe19","type":"template","z":"1c12fb7c.cf3be5","name":"0.8, 0.5, 0.9, Conv3+4","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 3\n","output":"str","x":364,"y":1860,"wires":[["8d9842f9.58a42"]]},{"id":"124283e3.3d9ebc","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":1860,"wires":[["ac4280fe.22494"]]},{"id":"57140382.69475c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1900,"wires":[[]]},{"id":"a0e36e7a.9ad34","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 4","output":"str","x":1059,"y":1900,"wires":[["57140382.69475c"]]},{"id":"7906c71e.6a9b98","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.4 A en conv 1+2","tooltip":"","group":"8054cfbe.ca6c6","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":1900,"wires":[["a0e36e7a.9ad34"]]},{"id":"37c8f5dd.2297aa","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1900,"wires":[["3b79ba27.b93cf6"]]},{"id":"1fcb00a2.ea5f0f","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 A en conv 1+2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 4\n","output":"str","x":374,"y":1900,"wires":[["37c8f5dd.2297aa"]]},{"id":"3b79ba27.b93cf6","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":1900,"wires":[["7906c71e.6a9b98"]]},{"id":"7b7c951e.3b909c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1940,"wires":[[]]},{"id":"2acdd3e8.ea1e5c","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 5","output":"str","x":1059,"y":1940,"wires":[["7b7c951e.3b909c"]]},{"id":"c95aad32.0e2b7","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.11 en 0.12 en 0.6","tooltip":"","group":"8054cfbe.ca6c6","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":1940,"wires":[["2acdd3e8.ea1e5c"]]},{"id":"25a8678d.5928e8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1940,"wires":[["606497b3.d7a368"]]},{"id":"9c50a8e1.a7d7a8","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.11 en 0.12 en 0.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 5\n","output":"str","x":374,"y":1940,"wires":[["25a8678d.5928e8"]]},{"id":"606497b3.d7a368","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":1940,"wires":[["c95aad32.0e2b7"]]},{"id":"5d97afc4.ba946","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":1980,"wires":[[]]},{"id":"e2bed97c.d0ddd8","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 7","output":"str","x":1059,"y":1980,"wires":[["5d97afc4.ba946"]]},{"id":"18a16f4f.f7eb41","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.15","tooltip":"","group":"8054cfbe.ca6c6","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":1980,"wires":[["e2bed97c.d0ddd8"]]},{"id":"df4c604a.c80a8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":1980,"wires":[["7224d607.fa4018"]]},{"id":"aedebcd2.b8c16","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.15","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 7\n","output":"str","x":334,"y":1980,"wires":[["df4c604a.c80a8"]]},{"id":"7224d607.fa4018","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":1980,"wires":[["18a16f4f.f7eb41"]]},{"id":"283cfa2f.af9c46","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2020,"wires":[[]]},{"id":"52da5cea.5a1e84","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 8","output":"str","x":1059,"y":2020,"wires":[["283cfa2f.af9c46"]]},{"id":"1dd268cf.4c1467","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 1.3","tooltip":"","group":"8054cfbe.ca6c6","order":7,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":857,"y":2020,"wires":[["52da5cea.5a1e84"]]},{"id":"963388d.ccf3178","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2020,"wires":[["f1f9d79.419e928"]]},{"id":"ba54a35e.119de","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.3","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 8\n","output":"str","x":324,"y":2020,"wires":[["963388d.ccf3178"]]},{"id":"f1f9d79.419e928","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2020,"wires":[["1dd268cf.4c1467"]]},{"id":"c0574b49.c31a78","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2060,"wires":[[]]},{"id":"db8a2428.0abee8","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 9","output":"str","x":1059,"y":2060,"wires":[["c0574b49.c31a78"]]},{"id":"f10ed7d5.b65be8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 1.1 en 1.4 en 1.6","tooltip":"","group":"8054cfbe.ca6c6","order":8,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":907,"y":2060,"wires":[["db8a2428.0abee8"]]},{"id":"68e14e85.626ec","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2060,"wires":[["de0c2076.c6988"]]},{"id":"8dbf4e29.1377d","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.1 en 1.4 en 1.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 9\n","output":"str","x":374,"y":2060,"wires":[["68e14e85.626ec"]]},{"id":"de0c2076.c6988","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2060,"wires":[["f10ed7d5.b65be8"]]},{"id":"cbf4a8e0.25da08","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2100,"wires":[[]]},{"id":"f9736a76.edb938","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 10","output":"str","x":1059,"y":2100,"wires":[["cbf4a8e0.25da08"]]},{"id":"6f1432bb.b8be9c","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 1.2","tooltip":"","group":"8054cfbe.ca6c6","order":9,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":857,"y":2100,"wires":[["f9736a76.edb938"]]},{"id":"632bd3eb.36543c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2100,"wires":[["cc7d68ac.843208"]]},{"id":"f97ea1ea.890ed","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 10\n","output":"str","x":324,"y":2100,"wires":[["632bd3eb.36543c"]]},{"id":"cc7d68ac.843208","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2100,"wires":[["6f1432bb.b8be9c"]]},{"id":"5c5e7614.fca0c8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2140,"wires":[[]]},{"id":"3ec534c1.57433c","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 11","output":"str","x":1059,"y":2140,"wires":[["5c5e7614.fca0c8"]]},{"id":"f1b24b26.60bf18","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"ruimte 0.4 B","tooltip":"","group":"8054cfbe.ca6c6","order":10,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":2140,"wires":[["3ec534c1.57433c"]]},{"id":"2d8635c6.b4d50a","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2140,"wires":[["7b24384a.fa5368"]]},{"id":"28147fe9.18c9b","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 B","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 11\n","output":"str","x":334,"y":2140,"wires":[["2d8635c6.b4d50a"]]},{"id":"7b24384a.fa5368","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2140,"wires":[["f1b24b26.60bf18"]]},{"id":"ab82f70.e314e08","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2180,"wires":[[]]},{"id":"a2bed7f7.5ba7d8","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 16","output":"str","x":1059,"y":2180,"wires":[["ab82f70.e314e08"]]},{"id":"3897cf21.ea2f5","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Ruimte 1.10","tooltip":"","group":"8054cfbe.ca6c6","order":11,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":867,"y":2180,"wires":[["a2bed7f7.5ba7d8"]]},{"id":"43a8cfb3.bf8c2","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2180,"wires":[["8c42fb3a.c889f8"]]},{"id":"52c05a54.ac0e34","type":"template","z":"1c12fb7c.cf3be5","name":"Ruimte 1.10","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 12\n","output":"str","x":334,"y":2180,"wires":[["43a8cfb3.bf8c2"]]},{"id":"8c42fb3a.c889f8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2180,"wires":[["3897cf21.ea2f5"]]},{"id":"d0cefcac.8997e","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2260,"wires":[[]]},{"id":"8ed3c6a5.3de7c8","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 17","output":"str","x":1060,"y":2260,"wires":[["d0cefcac.8997e"]]},{"id":"4fac0a24.1291f4","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"server 1.7","tooltip":"","group":"8054cfbe.ca6c6","order":12,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"22","step":"1","x":860,"y":2260,"wires":[["8ed3c6a5.3de7c8"]]},{"id":"61a06542.5df26c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2260,"wires":[["bd08d47f.b612a8"]]},{"id":"e3117d9a.56fa4","type":"template","z":"1c12fb7c.cf3be5","name":"server 1.7","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 15\n","output":"str","x":320,"y":2260,"wires":[["61a06542.5df26c"]]},{"id":"bd08d47f.b612a8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2260,"wires":[["4fac0a24.1291f4"]]},{"id":"b294a5d9.67b188","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":1200,"y":2220,"wires":[[]]},{"id":"833a9d19.ca9c1","type":"template","z":"1c12fb7c.cf3be5","name":"Update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcntrlgroup\nSET actSetpoint = {{payload}}\nWHERE id = 12 or id = 13","output":"str","x":1059,"y":2220,"wires":[["b294a5d9.67b188"]]},{"id":"2befb635.573c4a","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"slaapkamer 2","tooltip":"","group":"8054cfbe.ca6c6","order":13,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"7","max":"35","step":"1","x":877,"y":2220,"wires":[["833a9d19.ca9c1"]]},{"id":"735667b7.92db88","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":547,"y":2220,"wires":[["20b7d732.c08f88"]]},{"id":"cb114f27.86547","type":"template","z":"1c12fb7c.cf3be5","name":"slaapkamer 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actSetpoint FROM heimdall.tblcntrlgroup\nWhere id = 13\n","output":"str","x":344,"y":2220,"wires":[["735667b7.92db88"]]},{"id":"20b7d732.c08f88","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actSetpoint\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2220,"wires":[["2befb635.573c4a"]]},{"id":"615d65e0.e9ba6c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2440,"wires":[["c9dcec21.dbe"]]},{"id":"b8533b13.547588","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.17 en 0.14","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 1\n","output":"str","x":347,"y":2440,"wires":[["615d65e0.e9ba6c"]]},{"id":"c9dcec21.dbe","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":694,"y":2440,"wires":[["9b5d1972.f43d78"]]},{"id":"bb4bb995.cd60e8","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":103,"y":2680,"wires":[["b8533b13.547588","80cd2b0b.6fa2b8","28a64c2d.cffb04","232cbe3a.c9b082","22ef1b43.2bf864","892b756e.540df8","65b9fbc8.ecbb34","9ce78868.823dc8","df4dcaae.b24688","236331c.77803ce","cf6f2123.c661","879d1fb0.92823","9f4a1e8b.b1e85"]]},{"id":"befea799.1497e8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2480,"wires":[["2b40af04.65d07"]]},{"id":"80cd2b0b.6fa2b8","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.2 en 0.1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 2\n","output":"str","x":347,"y":2480,"wires":[["befea799.1497e8"]]},{"id":"4306a37c.eba61c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2520,"wires":[["30e5395d.20bb46"]]},{"id":"28a64c2d.cffb04","type":"template","z":"1c12fb7c.cf3be5","name":"0.8, 0.5, 0.9, Conv3+4","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 3\n","output":"str","x":357,"y":2520,"wires":[["4306a37c.eba61c"]]},{"id":"e782f82f.127358","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2560,"wires":[["402f9df5.e01da4"]]},{"id":"232cbe3a.c9b082","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 A en conv 1+2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 4\n","output":"str","x":367,"y":2560,"wires":[["e782f82f.127358"]]},{"id":"5d5f5d42.6c73e4","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2600,"wires":[["f773098b.d0fcf8"]]},{"id":"22ef1b43.2bf864","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.11 en 0.12 en 0.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 5\n","output":"str","x":367,"y":2600,"wires":[["5d5f5d42.6c73e4"]]},{"id":"4c8d023b.08fe4c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2640,"wires":[["256da39a.f8ac7c"]]},{"id":"892b756e.540df8","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.15","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 7\n","output":"str","x":327,"y":2640,"wires":[["4c8d023b.08fe4c"]]},{"id":"90224a11.e74ee8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2680,"wires":[["869134b4.873c78"]]},{"id":"65b9fbc8.ecbb34","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.3","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 8\n","output":"str","x":317,"y":2680,"wires":[["90224a11.e74ee8"]]},{"id":"d2473b9a.d12e78","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2720,"wires":[["a9255d98.f503d"]]},{"id":"9ce78868.823dc8","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.1 en 1.4 en 1.6","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 9\n","output":"str","x":367,"y":2720,"wires":[["d2473b9a.d12e78"]]},{"id":"81a0a82a.436c28","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2760,"wires":[["2a74de89.a317e2"]]},{"id":"df4dcaae.b24688","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 1.2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 10\n","output":"str","x":317,"y":2760,"wires":[["81a0a82a.436c28"]]},{"id":"7f3326a2.0fb1f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2800,"wires":[["84f2663c.0123b8"]]},{"id":"236331c.77803ce","type":"template","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 B","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 11\n","output":"str","x":327,"y":2800,"wires":[["7f3326a2.0fb1f8"]]},{"id":"4722ecb9.e08e74","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2840,"wires":[["ee42025a.8ed85"]]},{"id":"cf6f2123.c661","type":"template","z":"1c12fb7c.cf3be5","name":"Ruimte 1.10","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 12\n","output":"str","x":327,"y":2840,"wires":[["4722ecb9.e08e74"]]},{"id":"2070942b.fb31bc","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":533,"y":2920,"wires":[["4dd4c83c.f253a8"]]},{"id":"9f4a1e8b.b1e85","type":"template","z":"1c12fb7c.cf3be5","name":"server 1.7","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 15\n","output":"str","x":313,"y":2920,"wires":[["2070942b.fb31bc"]]},{"id":"d3fb6781.e05648","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":540,"y":2880,"wires":[["4034bcc2.6da764"]]},{"id":"879d1fb0.92823","type":"template","z":"1c12fb7c.cf3be5","name":"slaapkamer 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT actTemp FROM heimdall.tblcntrlgroup\nWhere id = 13\n","output":"str","x":337,"y":2880,"wires":[["d3fb6781.e05648"]]},{"id":"9b5d1972.f43d78","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.17 en 0.14","group":"78538e86.c95d9","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.17 en 0.14","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":910,"y":2440,"wires":[]},{"id":"2b40af04.65d07","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2480,"wires":[["b58d0956.ffef98"]]},{"id":"b58d0956.ffef98","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.2 en 0.1","group":"78538e86.c95d9","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.2 en 0.1","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":906,"y":2480,"wires":[]},{"id":"30e5395d.20bb46","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2520,"wires":[["1cc71734.4203e9"]]},{"id":"1cc71734.4203e9","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"0.8, 0.5, 0.9, Conv3+4","group":"e2a8907a.8d417","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.8, 0.5, 0.9, Conv3+4","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":916,"y":2520,"wires":[]},{"id":"402f9df5.e01da4","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2560,"wires":[["72b8b52a.6c9d2c"]]},{"id":"72b8b52a.6c9d2c","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 A en conv 1+2","group":"19e5327.2dba2ce","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.4 A en conv 1+2","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":926,"y":2560,"wires":[]},{"id":"f773098b.d0fcf8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2600,"wires":[["1f11d336.9548bd"]]},{"id":"1f11d336.9548bd","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.11 en 0.12 en 0.6","group":"78538e86.c95d9","order":2,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.11 en 0.12 en 0.6","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":926,"y":2600,"wires":[]},{"id":"256da39a.f8ac7c","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2640,"wires":[["f9fa1f87.12ea1"]]},{"id":"f9fa1f87.12ea1","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.15","group":"19e5327.2dba2ce","order":2,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.15","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#80ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":2640,"wires":[]},{"id":"869134b4.873c78","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2680,"wires":[["e3fb4f39.3cbbe"]]},{"id":"e3fb4f39.3cbbe","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 1.3","group":"53b83408.5fc3dc","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.3","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":876,"y":2680,"wires":[]},{"id":"a9255d98.f503d","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2720,"wires":[["7f95ea6b.182524"]]},{"id":"7f95ea6b.182524","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 1.1 en 1.4 en 1.6","group":"fbabf7a.f8a9608","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.1 en 1.4 en 1.6","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":926,"y":2720,"wires":[]},{"id":"2a74de89.a317e2","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2760,"wires":[["b345ff11.baadc"]]},{"id":"b345ff11.baadc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 1.2","group":"fbabf7a.f8a9608","order":1,"width":"4","height":"4","gtype":"gage","title":"ruimte 1.2","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":876,"y":2760,"wires":[]},{"id":"84f2663c.0123b8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2800,"wires":[["478e88e1.2a85d8"]]},{"id":"478e88e1.2a85d8","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"ruimte 0.4 B","group":"19e5327.2dba2ce","order":3,"width":"4","height":"4","gtype":"gage","title":"ruimte 0.4 B","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":2800,"wires":[]},{"id":"ee42025a.8ed85","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2840,"wires":[["cea040cf.0a9d1"]]},{"id":"cea040cf.0a9d1","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"Ruimte 1.10","group":"fbabf7a.f8a9608","order":2,"width":"4","height":"4","gtype":"gage","title":"Ruimte 1.10","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":886,"y":2840,"wires":[]},{"id":"4034bcc2.6da764","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2880,"wires":[["13c0493b.962487"]]},{"id":"13c0493b.962487","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"slaapkamer 2","group":"53b83408.5fc3dc","order":2,"width":"4","height":"4","gtype":"gage","title":"slaapkamer 2","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"18","seg2":"25","x":896,"y":2880,"wires":[]},{"id":"4dd4c83c.f253a8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].actTemp\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2920,"wires":[["6096bd.e810a944"]]},{"id":"6096bd.e810a944","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"server 1.7","group":"53b83408.5fc3dc","order":1,"width":"4","height":"4","gtype":"gage","title":"server 1.7","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"20","x":876,"y":2920,"wires":[]},{"id":"1526f30c.feaacd","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"drkWarmH2O","topic":"drkWarmH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":795,"wires":[["f63b3d56.8c2ba"]],"outputLabels":["payload"]},{"id":"f63b3d56.8c2ba","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"drkWarmH2O","label":"Bar","format":"{{value}}","min":0,"max":"4","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"1.5","seg2":"3","x":1330,"y":796,"wires":[]},{"id":"22d64122.adab7e","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","topic":"drkKoudH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":758,"wires":[["ee52ffc0.4ae1c"]],"outputLabels":["payload"]},{"id":"ee52ffc0.4ae1c","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"drkKoudH2O","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"drkKoudH2O","label":"Bar","format":"{{value}}","min":0,"max":"4","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"1.5","seg2":"3","x":1330,"y":759,"wires":[]},{"id":"cdeec112.380f8","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tmpWarmH2O","topic":"tmpWarmH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":835,"wires":[["607ed460.5f5bfc"]],"outputLabels":["payload"]},{"id":"607ed460.5f5bfc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tmpWarmH2O","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"tmpWarmH2O","label":"C","format":"{{value}}","min":"15","max":"100","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"30","seg2":"80","x":1340,"y":836,"wires":[]},{"id":"d05e53e.50d8cb","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tKoelH2O","topic":"tKoelH2O","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":880,"wires":[["3d3d4661.63e22a"]],"outputLabels":["payload"]},{"id":"3d3d4661.63e22a","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tKoelH2O","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"tKoelH2O","label":"C","format":"{{value}}","min":"0","max":"30","colors":["#00ff00","#ff8040","#ff0000"],"seg1":"15","seg2":"20","x":1320,"y":881,"wires":[]},{"id":"1f10f8d1.9345f7","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tAanvWW","topic":"tAanvWW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":920,"wires":[["67dab958.ad3448"]],"outputLabels":["payload"]},{"id":"67dab958.ad3448","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAanvWW","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"tAanvWW","label":"C","format":"{{value}}","min":"0","max":"30","colors":["#00ff00","#ff8040","#ff0000"],"seg1":"15","seg2":"20","x":1320,"y":921,"wires":[]},{"id":"879963db.deea3","type":"comment","z":"1c12fb7c.cf3be5","name":"Tech info","info":"","x":60,"y":600,"wires":[]},{"id":"cd08a305.d28d9","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"tAfvWW","topic":"tAfvWW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":960,"wires":[["b43c00c3.684df"]],"outputLabels":["payload"]},{"id":"b43c00c3.684df","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAfvWW","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"tAfvWW","label":"C","format":"{{value}}","min":"0","max":"30","colors":["#00ff00","#ff8040","#ff0000"],"seg1":"15","seg2":"20","x":1320,"y":961,"wires":[]},{"id":"199014ca.e7436b","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"rvAanvWW","topic":"rvAanvWW","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":80,"y":1000,"wires":[["7b2055aa.2e3dfc"]],"outputLabels":["payload"]},{"id":"7b2055aa.2e3dfc","type":"ui_gauge","z":"1c12fb7c.cf3be5","name":"tAfvWW","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","gtype":"gage","title":"rvAanvWW","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#80ff80","#00ff00","#80ff80"],"seg1":"25","seg2":"75","x":1320,"y":1001,"wires":[]},{"id":"7a58d2c7.89485c","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"flowWWkoud","topic":"flowWWkoud","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":90,"y":1040,"wires":[["d135389a.239dd8"]]},{"id":"d135389a.239dd8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1040,"wires":[["cbfa96c1.625798"]]},{"id":"cbfa96c1.625798","type":"ui_led","z":"1c12fb7c.cf3be5","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","label":"flowWWkoud","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowWWkoud","x":1317,"y":1040,"wires":[]},{"id":"4db29002.bf257","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"flowWarmH2O","topic":"flowWarmH2O","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":100,"y":1080,"wires":[["b583b718.e96958"]]},{"id":"b583b718.e96958","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":1080,"wires":[["b0f1fc91.d05d7"]]},{"id":"b0f1fc91.d05d7","type":"ui_led","z":"1c12fb7c.cf3be5","group":"231c1204.a7b4de","order":1,"width":"3","height":"3","label":"flowWarmH2O","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"flowWarmH2O","x":1327,"y":1080,"wires":[]}]