.node-red/flows_CDLaptop.json
[{"id":"1c12fb7c.cf3be5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7cc933d.d1e21","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2626cb63.dc1624","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"heimdall","tz":""},{"id":"5e75dc80.9c2674","type":"ui_tab","z":"1c12fb7c.cf3be5","name":"Test stuff","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5e90791.8dfe58","type":"ui_group","z":"1c12fb7c.cf3be5","name":"Pid tuning","tab":"f0fbdbb9.74ac18","order":2,"disp":true,"width":"6","collapse":true},{"id":"8f2369d.adab498","type":"ui_group","z":"1c12fb7c.cf3be5","name":"IO status","tab":"5e75dc80.9c2674","order":2,"disp":true,"width":"6","collapse":false},{"id":"779f1603.863428","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d12535a4.3f4ee8","type":"ui_group","z":"","name":"Status","tab":"5e75dc80.9c2674","disp":true,"width":"6","collapse":true},{"id":"cf56d50f.f7d808","type":"mqtt-broker","z":"","name":"192.168.1.4","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38b9ab1d.e66764","type":"ui_group","z":"","name":"Linear Gauges","tab":"a502b159.d0b8","disp":true,"width":"12","collapse":false},{"id":"a502b159.d0b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f0fbdbb9.74ac18","type":"ui_tab","z":"","name":"Pid tuning","icon":"dashboard","disabled":false,"hidden":false},{"id":"abdaf997.1b0688","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e46a438.9842e8","type":"ui_group","z":"","name":"commando's","tab":"abdaf997.1b0688","disp":true,"width":"6","collapse":false},{"id":"f6b4b868.4a32a8","type":"ui_group","z":"","name":"Status","tab":"a502b159.d0b8","disp":true,"width":"6","collapse":false},{"id":"6f8ff2e.5c3940c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":480,"wires":[["d9bceda.d4d191"]]},{"id":"4f99246b.4853fc","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":110,"y":480,"wires":[["740b5519.c16ecc","4c9bc23.bc7b13c"]]},{"id":"622e2bf2.db7994","type":"comment","z":"1c12fb7c.cf3be5","name":"Show current status and last error","info":"","x":150,"y":440,"wires":[]},{"id":"f38bafbc.85e21","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":200,"wires":[["3eb4cd0b.724ba2"]]},{"id":"b1f97441.077848","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'Exit'","output":"str","x":380,"y":200,"wires":[["f38bafbc.85e21"]]},{"id":"4968e016.eacd1","type":"comment","z":"1c12fb7c.cf3be5","name":"Update commands in DB","info":"","x":130,"y":140,"wires":[]},{"id":"740b5519.c16ecc","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 2\n","output":"str","x":320,"y":480,"wires":[["6f8ff2e.5c3940c"]]},{"id":"3eb4cd0b.724ba2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":200,"wires":[]},{"id":"8d1c346c.dde9e8","type":"ui_button","z":"1c12fb7c.cf3be5","name":"","group":"9e46a438.9842e8","order":0,"width":0,"height":0,"passthru":false,"label":"Exit Heimdall","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Exit","payloadType":"str","topic":"Command","x":90,"y":200,"wires":[["b1f97441.077848"]]},{"id":"bd077563.f681f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":569,"y":300,"wires":[["4fbb7162.bb801"]]},{"id":"43b9e68e.b9e1c8","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 1 \nWHERE Command = 'ToonActWaarde'","output":"str","x":379,"y":300,"wires":[["bd077563.f681f8"]]},{"id":"4fbb7162.bb801","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":300,"wires":[]},{"id":"431ed09e.f563f","type":"ui_button","z":"1c12fb7c.cf3be5","name":"","group":"9e46a438.9842e8","order":0,"width":0,"height":0,"passthru":false,"label":"output naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":110,"y":300,"wires":[["43b9e68e.b9e1c8"]]},{"id":"f7c98991.4c9d08","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":570,"y":360,"wires":[["3adf0e60.3cc5d2"]]},{"id":"e2ad5f31.e8d33","type":"template","z":"1c12fb7c.cf3be5","name":"Exit Heimdall","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblcommand \nSET activated = 0 \nWHERE Command = 'ToonActWaarde'","output":"str","x":380,"y":360,"wires":[["f7c98991.4c9d08"]]},{"id":"3adf0e60.3cc5d2","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":360,"wires":[]},{"id":"adcd18eb.d07e48","type":"ui_button","z":"1c12fb7c.cf3be5","name":"","group":"9e46a438.9842e8","order":0,"width":0,"height":0,"passthru":false,"label":"output niet naar scherm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status zichtbaar","payloadType":"str","topic":"Command","x":130,"y":360,"wires":[["e2ad5f31.e8d33"]]},{"id":"718664e.992c69c","type":"ui_text","z":"1c12fb7c.cf3be5","group":"f6b4b868.4a32a8","order":3,"width":0,"height":0,"name":"Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":480,"wires":[]},{"id":"d9bceda.d4d191","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["718664e.992c69c"]]},{"id":"dccf15eb.ec11f8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":560,"wires":[["820d96c6.de82d8"]]},{"id":"4c9bc23.bc7b13c","type":"template","z":"1c12fb7c.cf3be5","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM heimdall.tbluserfeedback\nWhere id = 3","output":"str","x":320,"y":560,"wires":[["dccf15eb.ec11f8"]]},{"id":"e5f4127b.ffbb5","type":"ui_text","z":"1c12fb7c.cf3be5","group":"f6b4b868.4a32a8","order":3,"width":0,"height":0,"name":"Last Error","label":"Laatste foutmelding:","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":560,"wires":[]},{"id":"820d96c6.de82d8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2String","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].Message\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["e5f4127b.ffbb5"]]},{"id":"f85ba616.877088","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls1","topic":"hrAlivePuls1","qos":"0","datatype":"auto","broker":"cf56d50f.f7d808","x":92,"y":720,"wires":[["779eac04.a926f4","ee5f853f.f042e8"]],"outputLabels":["payload"]},{"id":"bf0330f1.64b5a","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls3","topic":"hrAlivePuls3","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":840,"wires":[["541cef6d.b9442"]]},{"id":"ec120740.60c558","type":"mqtt in","z":"1c12fb7c.cf3be5","name":"hrAlivePuls2","topic":"hrAlivePuls2","qos":"2","datatype":"auto","broker":"cf56d50f.f7d808","x":98,"y":780,"wires":[["d52edcb4.e9ac3"]]},{"id":"f1b7f9b4.5bd648","type":"ui_led","z":"1c12fb7c.cf3be5","group":"f6b4b868.4a32a8","order":0,"width":0,"height":0,"label":"hrAlivePuls1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls1","x":1320,"y":720,"wires":[]},{"id":"3961e46d.f982ec","type":"ui_led","z":"1c12fb7c.cf3be5","group":"f6b4b868.4a32a8","order":0,"width":0,"height":0,"label":"hrAlivePuls3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls3","x":1325,"y":840,"wires":[]},{"id":"5c1ee641.5e2ad8","type":"ui_led","z":"1c12fb7c.cf3be5","group":"f6b4b868.4a32a8","order":0,"width":0,"height":0,"label":"hrAlivePuls2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"hrAlivePuls2","x":1321,"y":780,"wires":[]},{"id":"779eac04.a926f4","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":297,"y":640,"wires":[]},{"id":"ee5f853f.f042e8","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":720,"wires":[["16f94852.751dc8","f1b7f9b4.5bd648"]]},{"id":"16f94852.751dc8","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":640,"wires":[]},{"id":"d52edcb4.e9ac3","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":780,"wires":[["5c1ee641.5e2ad8"]]},{"id":"541cef6d.b9442","type":"function","z":"1c12fb7c.cf3be5","name":"string2boolean","func":"var x = msg.payload         \nvar stringValue = Number(x);\nif (stringValue == 1) {\n   msg.payload = true;\n} else {\n   msg.payload =  false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":840,"wires":[["3961e46d.f982ec"]]},{"id":"673e4130.ae8f3","type":"ui_lineargauge","z":"1c12fb7c.cf3be5","d":true,"group":"8f2369d.adab498","order":3,"width":0,"height":0,"name":"Setpoint 1","colorLowArea":"#476af5","colorMidArea":"#99ff99","colorHighArea":"#ff8080","unit":"C°","x":1310,"y":960,"wires":[]},{"id":"d13831da.c4f9d","type":"ui_numeric","z":"1c12fb7c.cf3be5","d":true,"name":"","label":"numeric","tooltip":"","group":"8f2369d.adab498","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":100,"y":960,"wires":[["ca0bebf8.4ec768"]]},{"id":"ca0bebf8.4ec768","type":"change","z":"1c12fb7c.cf3be5","d":true,"name":"","rules":[{"t":"set","p":"highlimit","pt":"msg","to":"25","tot":"num"},{"t":"set","p":"lowlimit","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"setpoint","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":960,"wires":[["673e4130.ae8f3"]]},{"id":"479584e8.3ff06c","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":1120,"wires":[["98625bf5.3f98b8"]]},{"id":"12da0c62.2b11e4","type":"template","z":"1c12fb7c.cf3be5","name":"Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 21\n","output":"str","x":290,"y":1120,"wires":[["479584e8.3ff06c"]]},{"id":"fe3e2a11.e674b8","type":"comment","z":"1c12fb7c.cf3be5","name":"PID tuning","info":"","x":80,"y":1060,"wires":[]},{"id":"f82638b3.f42ea8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Current Kp","tooltip":"","group":"c5e90791.8dfe58","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":1310,"y":1120,"wires":[[]]},{"id":"43138b0a.cce6f4","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":1160,"wires":[["3481986a.098f38"]]},{"id":"6870160a.72f918","type":"template","z":"1c12fb7c.cf3be5","name":"Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 22\n\n","output":"str","x":290,"y":1160,"wires":[["43138b0a.cce6f4"]]},{"id":"1f6c7eb2.053c81","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"current Ki","tooltip":"","group":"c5e90791.8dfe58","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":1300,"y":1160,"wires":[[]]},{"id":"641b599a.182518","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":1200,"wires":[["ef19cd8e.1f84e"]]},{"id":"58f15be8.c5bf64","type":"template","z":"1c12fb7c.cf3be5","name":"Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT value FROM heimdall.tblsetting \nWhere id = 23\n","output":"str","x":290,"y":1200,"wires":[["641b599a.182518"]]},{"id":"2d4c7d7b.837922","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"Current Kd","tooltip":"","group":"c5e90791.8dfe58","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":1310,"y":1200,"wires":[[]]},{"id":"67a7f909.206bd8","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":484,"y":1260,"wires":[["c8bc651f.46a408"]]},{"id":"209c0fbd.2944b","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kp","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 21","output":"str","x":310,"y":1260,"wires":[["67a7f909.206bd8"]]},{"id":"c8bc651f.46a408","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1260,"wires":[]},{"id":"28a90b1a.d59b74","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kp","tooltip":"","group":"c5e90791.8dfe58","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.1","x":120,"y":1260,"wires":[["209c0fbd.2944b"]]},{"id":"2e6ab5ad.d9c90a","type":"inject","z":"1c12fb7c.cf3be5","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":90,"y":1120,"wires":[["12da0c62.2b11e4","6870160a.72f918","58f15be8.c5bf64"]]},{"id":"98625bf5.3f98b8","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1120,"wires":[["f82638b3.f42ea8"]]},{"id":"3481986a.098f38","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1160,"wires":[["1f6c7eb2.053c81"]]},{"id":"ef19cd8e.1f84e","type":"function","z":"1c12fb7c.cf3be5","name":"Result2float","func":"var payload=msg.payload; //get payload\nmsg.payload=payload[0].value\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1200,"wires":[["2d4c7d7b.837922"]]},{"id":"e07fa79d.82c048","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":1320,"wires":[["60a95ec5.57487"]]},{"id":"e28d00f3.f40cb","type":"template","z":"1c12fb7c.cf3be5","name":"Update Ki","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 22","output":"str","x":296,"y":1320,"wires":[["e07fa79d.82c048"]]},{"id":"60a95ec5.57487","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":666,"y":1320,"wires":[]},{"id":"439e4f84.31032","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Ki","tooltip":"","group":"c5e90791.8dfe58","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":116,"y":1320,"wires":[["e28d00f3.f40cb"]]},{"id":"5e05aa3e.1aa994","type":"mysql","z":"1c12fb7c.cf3be5","mydb":"2626cb63.dc1624","name":"MYSQL","x":480,"y":1380,"wires":[["448064ea.071d0c"]]},{"id":"6e201866.95fd18","type":"template","z":"1c12fb7c.cf3be5","name":"Update Kd","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE heimdall.tblsetting \nSET Value = {{payload}}\nWHERE id = 23","output":"str","x":306,"y":1380,"wires":[["5e05aa3e.1aa994"]]},{"id":"448064ea.071d0c","type":"debug","z":"1c12fb7c.cf3be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":666,"y":1380,"wires":[]},{"id":"5b2856e3.b555f8","type":"ui_numeric","z":"1c12fb7c.cf3be5","name":"","label":"New Kd","tooltip":"","group":"c5e90791.8dfe58","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":116,"y":1380,"wires":[["6e201866.95fd18"]]}]